.Container {
    width: 20rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
  }
  
  .SwitchesContainer {
    width: 16rem;
    position: relative;
    display: flex;
    padding: 0;
    background: #edc72f;
    line-height: 3rem;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .SwitchWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 0.15rem;
    z-index: 3;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  .Switch {
    border-radius: 3rem;
    background: white;
    height: 100%;
  }
  
  .SwitchLabel {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: white;
  }
  
  .SwitchInput {
    visibility: hidden;
    position: absolute;
    top: 0;
  }
  
  .SwitchText {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: #edc72f;
    transition: opacity 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0.125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
  }
  