@import '../../../scss/extend';
@import '../../../animations';

@mixin min-height-media-query($max-height) {
    @media screen and (max-height: #{$max-height}) {
        @content;
    }
}

.popup-overlay {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    right: 0;
}

.confirm-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include dimensions(817px, 284px);
    border-radius: 25px;
    background: $color-white;
    padding: 65px;
    display: block;

    .close-button {
        position: absolute;
        top: 27px;
        right: 30px;
        padding: 5px;
        border: none;
        @include dimensions(15px, 15px);
        background-color: transparent;
        background-image: url('./../../../assets/close-button-black.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px auto;
    }
    .confirm-message {
        @include fonts(20px, 30px, $dark_Gray);
        font-family: 'Poppins-Medium', serif;
        margin: 0 0 35px;
        padding: 0 15px 0 0;
    }
    .buttons {
        display: flex;
        gap: 55px;
        width: 100%;

        button {
            @include flex;
            @include dimensions(100%, 43px);
            @include fonts(17px, 17px, $color-white);
            font-family: 'Poppins-SemiBold', serif;

            &.confirm-accept {
                background-color: $color-yellow-saffron;
            }
            &.confirm-refuse {
                background-color: $color-gray-alto;
            }
        }
    }
}

/* # $Mobile ::
------------------------------------*/

@media only screen and (max-width:992px) {
    .confirm-popup-container {
        width: 70vw;
        height: 284px;
    }
}
