@import '../../../_colors.scss';
@import '../../../animations';

@mixin min-height-media-query($max-height) {
    @media screen and (max-height: #{$max-height}) {
        @content;
    }
}

.popup-overlay {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    right: 0;
}

.confirm-popup-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 817px;
    height: 284px;
    border-radius: 25px;
    background: #FFF;
    padding: 65px 65px 56px 65px; 

    .confirm-message {
        color: #484848;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .buttons {
        display: flex;
        gap: 50px;
        width: 100%;

        button {
            flex: 1;
            color: #FFF;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border-radius: 50px;
            border: none;
            height: 58px;
        }

        .confirm-accept {
            background: #FBC000;
        }

        .confirm-refuse {
            background: #BCBAB1;
        }
    }

}