@import '../../scss/extend';

.newsLetterArea {
    margin: 0 0 50px;

    .newsLetterContainer {
        @include flex(flex, center, space-around);
    }
    .newsLetterDescription {
        .newsLetterTitle {
            font-family: 'Poppins-Bold', serif;
            @include fonts(30px, 35px, $color-blue-pelorous);
            margin: 0 0 15px;
        }
        .newsLetterDesc {
            font-family: 'Poppins-Medium', serif;
            @include fonts(16px, 26px, $dark_Gray);
            margin: 0 0 30px;
        }
        .emailWrapper {
            position: relative;
            width: 500px;
            .formControl {
                background-color: $color-gray-mercury-2;
                @include dimensions(500px, 50px);
                border-radius: 55px;
                padding-left: 50px;
                padding-right: 200px;
            }
            .btnEmailSubmit {
                position: absolute;
                top: 0;
                right: 0;
                background-color: $color-yellow-saffron;
                @include dimensions(175px, 50px);
                border-radius: 55px;
                font-family: 'Poppins-Bold', serif;
                @include fonts(15px, 15px, $color-white);
    
                .icon {
                    @include dimensions(18px, 18px);
                    background-image: url('./../../../src/assets/arrow-submit-icn.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    margin: 0 0 0 7px;
                }
            }
        }
    }
    .newsLetterImg {
        @include flex;
        @include dimensions(440px, 400px);
        overflow: hidden;

        img {
            width: 100%;
            object-fit: fill;
        }
    }
}

/* # $Mobile ::
------------------------------------*/

@media (max-width: 1440px) {
    .newsLetterArea {
        margin: 0 0 40px;

        .newsLetterDescription {
            .newsLetterTitle {
                margin: 0 0 10px;
                @include fontSize(24px, 28px);
            }
            .newsLetterDesc {
                margin: 0 0 25px;
                @include fontSize(13px, 23px);
            }
        }
    }
}