@import "../../colors";


.location-container {
  padding-top: 37px;
  position: relative;
  // padding: 24px;
  height: 504px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  width: 794px;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .cancel-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: end;
    z-index: 99;

    .cancel-icon {
      border-radius: 50%;
      font-size: 25px;
      color: $orange_color;
      transition: color ease-out 0.5s;

      &:hover {
        color: $orange_color_001;
      }

    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: $dark_Gray;
      font-family: Poppins;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 19px;
      padding: 10px;
      border: none;
      border-radius: 15px;
      background-color: $Ocean_Teal;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 555px;
      height: 58px;
      margin-top: 11px;

      &:hover {
        background-color: #005ab5;
      }
    }

    .adresses_container {
      display: flex;
      justify-content: center;
      // align-items: center;

    }
  }

  .location-search-input-container {
    position: relative;
    width: 555px;
    height: 58px;
    border-radius: 15px;

    .location-search-inpute {
      background-color: $Ocean_Teal ;
      height: 50px;
      padding: 10px;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        color: white;
        font-size: 16px;
        font-weight: 700;

      }

      input[type="text"] {
        color: white;
        outline: none;
        background-color: transparent;
        width: 80%;
        height: 20px;
        border: none;
        font-size: 18px;

        &::placeholder {
          color: white;
          font-size: 18px;
          font-weight: bold;

        }
      }
    }

    ul {
      width: 100%;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 999;

      background-color: $Off-White;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        padding: 5px 15px;

        &:hover {
          background-color: $primary_color;
        }
      }
    }
  }

  .location-filtre {
    margin-top: 11px;
    padding: 0 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    .select {
      cursor: pointer;
      background-color: white;
      border: 1px solid $Ocean_Teal;
      border-radius: 50px;
      width: 158px;
      height: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 0 15px;
      transition: all ease-in-out 0.5s;

      label {
        cursor: pointer;
        color: $dark_Gray;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all ease-in-out 0.5s;
      }

      input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
      }

    }

    .selected {
      background-color: $orange_color ;
      border: none;

      label {
        color: white;
      }
    }
  }

  .Text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
    padding-left: 3%;

    p {
      margin: 8px 0;
      color: $dark_Gray;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: start;
      margin-left: 10%;
    }
  }

  .adresses-container {
    padding: 5px 5px 8px 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}



@media only screen and (max-width : 786px) {
  .location-container {
    width: 316px;

    .form {
      h1 {
        font-size: 17px;
      }

      button {
        width: 220px;
      }
    }

    .location-search-input-container {
      width: 220px;

    }


    .location-filtre {
      .select {
        width: 62px;
        height: 49px;
        gap: 6px;
      }
    }

    .location-filtre {
      padding: 0 25px;

      .select {
        height: 19px;
        width: 100%;
        gap: 10px;
        padding: 0 8px;

        label {
          cursor: pointer;
          font-size: 9px;
        }

      }
    }
  }
}