.container-map {
  padding: 24px;
  height: 500px;
  /* padding-left: 24px; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  width: 70vw;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.5rem;
}
.container-map::-webkit-scrollbar  {
  width: 6px; /* Set the width of the scrollbar */
}
.container-map::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the thumb */
}

.container-map::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the track */
}

.container-card {
height: 500px;
padding: 17px 8px;
}

.map-container {
  /* height: 400px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Text-container p {
  color: #343333;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;


  text-align: start;
  margin-left: 10%;
}
 

.map-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-adress-label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}


#location-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 80%;
  font-size: 16px;
}

#location-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2db2b1;
  border-color: #0077ff;
}

.map-container .form button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2db2b1;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}


.map-container .form button:hover,.map-containerr button:hover {
  background-color: #005ab5;
}

.map-containerr {
  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map-containerr p {
  color: #343333;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#map {
  height: 80%;
  width: 80%;
}

.submit-cart {
  width: 80%;
  height: 40px;
  flex-shrink: 0;
  border-width: 0;
  border-radius: 10px;
  background-color: #EDC72F;
  margin-top: 7px;
  transition: background-color 0.3s;

}




.adresses-container{
  padding: 5px 5px 8px 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.adressCompContainer{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5px;
  width: 100%;
  background-color: #F4F2F2;
}
.adressCompContainer:hover{
  background-color: #dbd6d6;
}

.adressCompContainer header{
  width: 100%;
display: flex;
align-items: start;
justify-content: space-between;
}

.adressCompContainer header div{
display: flex;
align-items: center;
}
.adressCompContainer header div .home-icon{
  color: white;
  margin-right: 10px;
  border-radius: 2.571px;
background: #FFDCD8;
}
.adressCompContainer header div {
  color: #000;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.labels{
text-align: left;
  margin-top: 15px;
}
.labels p {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cancel-icon:hover{
 color: rgb(209, 4, 4);
 background-color: rgba(231, 227, 227, 0.788);
}
.cancel-icon
{
  border-radius: 50%;

  color: black;
  background-color: white;
  transition: background-color 0.3s;

  /* transition: color 2s; */

}

.cancel-icon-container{
  display: flex;
  justify-content: end;
  width: 100%;
}