@import "../../colors";


.location-container {
  padding-top: 37px;
  position: relative;
  min-height: 500px;
  max-height: 700px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  width: 794px;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;

  .cancel-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: end;
    z-index: 99;

    .cancel-icon {
      border-radius: 50%;
      font-size: 25px;
      color: $orange_color;
      transition: color ease-out 0.5s;

      &:hover {
        color: $orange_color_001;
      }

    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: $dark_Gray;
      font-family: Poppins;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 19px;
      padding: 10px;
      border: none;
      border-radius: 15px;
      background-color: $Ocean_Teal;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 80%;
      height: 58px;
      margin-top: 11px;
      
      &:hover {
        background-color: #005ab5;
      }
    }
    
    .adresses_container {
      display: flex;
      justify-content: center;
      width: 80%;
    }
  }

  .location-search-input-container {
    position: relative;
    width: 100%;
    height: 58px;
    border-radius: 15px;

    .location-search-inpute {
      background-color: $Ocean_Teal ;
      height: 58px;
      padding: 10px;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        color: white;
        font-size: 16px;
        font-weight: 700;

      }

      input[type="text"] {
        color: white;
        outline: none;
        background-color: transparent;
        width: 80%;
        height: 20px;
        border: none;
        font-size: 18px;

        &::placeholder {
          color: white;
          font-size: 18px;
          font-weight: bold;

        }
      }
    }

    ul {
      width: 100%;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 999;

      background-color: $Off-White;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        padding: 5px 15px;

        &:hover {
          background-color: $primary_color;
        }
      }
    }
  }

  .location-filtre {
    margin-top: 11px;
    padding: 0 25px;
    width: 100%;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-around;

    .select {
      cursor: pointer;
      background-color: white;
      border: 1px solid $Ocean_Teal;
      border-radius: 50px;
      width: 158px;
      height: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 0 15px;
      transition: all ease-in-out 0.5s;

      label {
        cursor: pointer;
        color: $dark_Gray;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all ease-in-out 0.5s;
      }

      input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
      }

    }

    .selected {
      background-color: $orange_color ;
      border: none;

      label {
        color: white;
      }
    }
  }

  .Text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding-left: 3%;

    p {
      margin: 8px 0;
      color: $dark_Gray;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: start;
      margin-left: 10%;
    }
  }

  .saved-adresses-title {
    width: 80%;
    color: #484848;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto 5px auto;
  }

  .adresses-container {
    overflow-y: scroll;
    width: 80%;
    margin: 0 auto;
    padding: 0px 16px 32px 0;


    &::-webkit-scrollbar {
      width: 9px;
    }
    &::-webkit-scrollbar-track {
      background: #F7F7F7;
    }
    &::-webkit-scrollbar-thumb {
      background: #CEE5E5;
    }



    .adressCompContainer {
      display: flex;
      flex-direction: column;

      width: 100%;
      border-radius: 15px;
      background: #F7F7F7;
      margin-top: 25px;
      padding: 21px 18px 17px 18px;

      .type {
        display: flex;
        flex: 1;
        justify-content: space-between;

        .label {
          display: flex;
          gap: 16px;
          color: #484848;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          .position-icon {
            width: 20px;
            height: 27.5px;
            background-position: center;
            background-repeat: no-repeat;
            object-fit: cover;
          }
        }

        .edit-button {
          width: 44px;
          height: 44px;
          background-color: #CEE5E5;
          border-radius: 50%;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;

          .edit-icon {
            width: 20px;
            height: 20px;
          }
        }
      }

      .position-name {
        width: 100%;
        color: #484848;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 35px;
      }
    }


  }
}



@media only screen and (max-width : 786px) {
  .location-container {
    width: 436px;

    .form {
      h1 {
        font-size: 20px;
      }

      button {
        width: 312px;
      }
    }

    .location-search-input-container {
      width: 312px;
    }

    .location-filtre {
      .select {
        cursor: pointer;
        height: 29.836px;
        width: 97.376px;
        gap: 10px;

        label {
          font-size: 14px;
        }
      }
    }

    .Text-container {
      p {
        font-size: 17px;
      }
    }
  }
}


@media only screen and (max-width : 576px) {
  .location-container {
    width: 251px;

    .form {
      h1 {
        font-size: 15px;
      }

      button {
        width: 191px;
        font-size: 10px;
      }
    }

    .location-search-input-container {
      width: 191px;

      .location-search-inpute {

        input[type="text"] {
          font-size: 10px;

          &::placeholder {
            font-size: 10px;
          }
        }
      }
    }

    .location-filtre {
      .select {
        cursor: pointer;
        height: 29.836px;
        width: 62.804px;
        gap: 10px;

        label {
          font-size: 12px;
        }
      }
    }

    .Text-container {
      p {
        font-size: 14px;
      }
    }
  }
}