@import '../../../../../../../scss/extend';

main {
    &.invit-page-container {
        padding: 0 !important;
        margin: -40px -75px;
        background-color: $Off-White !important;
    }
}
.invit-page-container {
    border-radius: 0;
    // background: linear-gradient(350deg, #4792A1 -27.75%, #2DDAD7 141.2%);
    background: transparent;
    
    height: initial;

    .parrainage-wrapper {
        background-color: $color-white;
        border-radius: 25px;
        padding: 50px 40px;
    }

    h3 {
        @include fonts(20px, 20px, $dark_Gray);
        font-family: 'Poppins-SemiBold', serif;
        margin: 0 0 35px;

        .go-back-icon {
            font-size: 26px;
            font-weight: 700;
            color: $color-blue-pelorous;
        }
    }

    h3,
    .go-back-icon {
        transition: color 1s ease-in-out;
    }

    h3:hover,
    .go-back-icon:hover {
        cursor: pointer;
        color: aliceblue;
    }

    .invite-friends-wrapper {
        display: grid;
        grid-template-columns: 363px 1fr;
        grid-gap: 45px;


    }

    .money-image-container {
        width: 100%;
        margin: 68px 0 68px 0;

        .money-img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 277px;
            height: 182px;
            margin: 0 auto;
        }
    }

    .copy-code-section {
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        flex-direction: column;
        gap: 19px;
        margin: 0;


        .code-input-container {
            display: flex;
            background-color: $color-apricot;
            padding: 2px;
            width: 100%;
            border-radius: 25px;

            input {
                border-radius: 25px 0 0 25px;
                text-align: center;
                color: white;
                font-size: 20px;
                font-weight: 700;
                background-color: $color-white;
                font-family: 'Poppins-Bold', serif;
                @include fonts(16px, 16px, $color-apricot);
                outline: none;
                border: none;
                width: 100%;
            }

            .copy-btn {
                font-family: 'Poppins-Medium', serif;
                @include fonts(16px, 16px, $color-white);
                @include flex(flex, center, flex-start);
                gap: 15px;
                @include dimensions(135px, 50px);
                padding: 15px;

                .chaine-icon {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    @include dimensions(16px, 17px);
                    margin: 0;
                }
            }
        }
    }

    .sponsorship-not-activated-message {
        color: $orange_color ;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 51px;
    }

    .notes-section {
        display: block;
        flex-direction: initial;
        gap: initial;
        margin: 0 0 50px;

        h2 {
            @include fonts(20px, 20px, $dark_Gray);
            font-family: 'Poppins-SemiBold', serif;
            margin: 0 0 15px;
        }
        p {
            @include fonts(16px, 24px, $dark_Gray);
            font-family: 'Poppins-Medium', serif;
            margin: 0 0 15px;
        }
    }

    .social-share-button {
        border-radius: 25px;
        background-color: $color-yellow-saffron-2;
        font-family: 'Poppins-Medium', serif;
        @include fonts(20px, 20px, $color-white);
        @include dimensions(100%, 50px);
        @include flex;
        gap: 30px;
        padding: 0;

        .social-share-icon {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 21px;
            height: 21px;
        }
    }

    .invite-friends-area {
        .invite-Q {
            @include fonts(16px, 24px, $dark_Gray);
            font-family: 'Poppins-SemiBold', serif;
            margin: 0 0 15px 35px;
        }
    }
}