.content {
  flex: 1;
  background: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 25px;
  padding: 2rem;
  margin: 1rem;
  order: 1;
}
@media (min-width: 768px) {
  .content {
    margin: 2rem 4rem;
  }
}
@media (min-width: 992px) {
  .content {
    order: 0;
  }
}
