@import '../../../../colors';

.visibility-button {
    background-color: #24A6A4;
    border: none;
    width: 50px;
    height: 50px;
    margin: 90px 0 0 -5px;
    display: none;
    transition: all 1s ease-in-out;
    font-size: 28px;

    color: white;
    position: absolute;
    padding: 0;

}

.side-bar {
    background-color: #FFF;
    height: 1024px;
    width: 351px;
    transition: all 1s ease-in-out;
    border-radius: 25px;
    .sideBar-header {
        width: 351px;
        height: 380px;
        border-radius: 40px 0px;
        background: linear-gradient(180deg, #24A6A4 0%, #2EB5B2 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        padding-top: 155px;

        .image {
            width: 104.952px;
            height: 102.743px;
            border-radius: 104.952px;
            background-color: #24A6A4;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0px 0px 0px 5px #8ACDCC
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 25px;

            .name {
                width: 141px;
                height: 23px;
                color: #FFF;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-align: center;
            }

            .icons {
                display: flex;
                justify-content: space-around;

                .icon {
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    background-color: white;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .sideBar-nav {
        display: flex;
        justify-content: center;
        margin-top: 67px;

        ul {
            width: 100%;
            margin-left: 0;
            padding-left: 41px;

            li {
                list-style: none;

                a {
                    display: flex;
                    align-items: center;
                    padding-left: 35px;
                    height: 50px;
                    text-decoration: none;
                    color: #484848;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    gap: 22px;

                    .profile-list-icon {
                        background-size: 15px auto;
                        width: 20px;
                        height: 18px;
                        background-repeat: no-repeat;
                    }
                }

                .active {
                    border-radius: 50px 0px 0px 50px;
                    background-color: #2EB5B2;
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .disconnect {
                    margin-top: 166px;
                    border-top: #E8E8E8 solid 1px;
                }
            }
        }
    }
}


@media only screen and (max-width: 992px) {
    .side-bar {
        width: 272px;

        .sideBar-header {
            width: 272px;

        }

        .sideBar-nav {
            ul {
                padding-left: 37px;

                li {
                    a {
                        padding-left: 0;

                        span {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .side-bar {
        position: absolute;
        z-index: 100;
        left: -272px;
        width: 272px;

        .sideBar-header {
            width: 272px;

        }

        .sideBar-nav {
            ul {
                padding-left: 37px;

                li {
                    a {
                        padding-left: 0;

                        span {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }

    .visibility-button {

        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .visible-bar {
        z-index: 1000;
        transform: translateX(272px);
    }

}