@import '../../../scss/extend';

@keyframes popup-animation {
    0% {
        scale: 0;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.popup-container {
    @include dimensions(100%, 100vh);
    background-color: rgba(0, 0, 0, 0.527);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;

    .popup-box {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include dimensions(914px, 489px);
        border-radius: 25px;
        background: $color-white;
        
        .close-button {
            position: absolute;
            top: 25px;
            right: 25px;
            padding: 5px;
            border: none;
            @include dimensions(15px, 15px);
            background-color: transparent;
            background-image: url('./../../../assets/close-button-black.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 15px auto;
        }
        .form {
            @include dimensions;
            padding: 48px 80px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .input-container {
                display: flex;
                flex-direction: column;

                label {
                    height: initial;
                    @include fonts(17px, 17px, $dark_Gray);
                    font-family: 'Poppins-Medium', serif;
                    margin: 0 0 15px;
                }
                .input {
                    display: block;
                    border: 0;
                    border-radius: 0;
                    position: relative;

                    .password-input {
                        border-radius: 10px;
                        @include border(2px, $color-blue-pelorous);
                        @include fonts(17px, 17px, $dark_Gray);
                        font-family: 'Poppins-Regular', serif;
                        font-weight: weight(regular);

                        &:focus {
                            outline: $Light_Blue;
                        }
                        &::placeholder {
                            color: $light_Gray;
                        }
                    }

                    .visible-icon {
                        @include dimensions(25px, 25px);
                        color: $primary_color;
                        position: absolute;
                        top: 7px;
                        right: 10px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .error-message {
                @include fonts(15px, 20px, $color-red);
                font-family: 'Poppins-Regular', serif;
                text-align: start;
                display: none;
            }
            .success-message {
                @include fonts(15px, 20px, $color-green);
                font-family: 'Poppins-Regular', serif;
                text-align: start;
                display: none;
            }
            .visible {
                display: block;
            }
            .buttons {
                display: flex;
                gap: 55px;

                button {
                    font-weight: weight(medium);
                    font-family: 'Poppins-Medium', serif;
                    @include fonts(17px, 17px, $color-yellow-saffron);
                    @include dimensions(100%, 43px);
                    @include border(2px, $color-yellow-saffron);
                    background-color: $color-white;
                    border-radius: 50px;

                    &.submit {
                        background-color: $color-yellow-saffron;
                        color: $color-white;
                    }
                    &.annule {
                        color: $color-yellow-saffron;
                        border-color: $color-yellow-saffron;
                    }
                }                
            }
        }
    }

    &.modal-editpassword {
        .popup-box {
            border-radius: 25px;
            height: initial;

            .form {
                .input-container {
                    .input {
                        .password-input {
                            width: 100%;
                        }
                        .visible-icon {
                            right: 30px;
                        }
                    }
                }
                .error-message {
                    width: 100%;
                    height: initial;
                }
            }
        }
    }
}

/* # $Mobile ::
------------------------------------*/

@media only screen and (max-width: 992px) {
    .popup-container {
        .popup-box {
            width: 90vw;
        }
    }
}

@media only screen and (max-width: 576px) {
    .popup-container {
        .popup-box {
            .form {
                padding: 48px 21px;
                .input-container {
                    label {
                        font-size: 13px;
                        height: 35px;
                    }
                }
                .buttons {
                    button{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}