@import '../../../../../colors';


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.commands-List {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
    padding-bottom: 50px;

    .command-header {
        width: 100%;
        height: 67px;
        margin-top: 20px;
        border-radius: 15px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 28px;
        transition: background-color 100ms;

        span {
            color: #958E8E;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .icon {
            color: #958E8E;
            font-size: 20px;
            width: 25px;
            height: 25px;
            rotate: 90deg;

        }

        .active {

            .icon {
                rotate: 180deg;
            }
        }
    }

    .active-header {
        background-color: #5DBDBC;

        span,
        .icon {
            color: white;
        }
    }

    .prev-next-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .next-page-button {
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 15px;

            button {
                all: unset;

                &:hover {
                    cursor: pointer;
                }

                .next-page-icon {
                    color: #24A6A4;
                    width: 53px;
                    height: 52px;
                    font-size: 22px;
                }
            }
        }

        .prev-page-button {
            display: flex;
            justify-content: start;
            align-items: center;

            button {
                all: unset;

                &:hover {
                    cursor: pointer;
                }

                .prev-page-icon {
                    color: #24a6a4;
                    width: 53px;
                    height: 52px;
                    font-size: 22px;
                    transform: rotate(180deg);

                }

            }
        }
    }
}