@import '../../../../../colors';


.commands-List {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .command-header {
        width: 100%;
        height: 67px;
        border-radius: 15px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 28px;
        transition: background-color 100ms ;
        span {
            color: #958E8E;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .icon {
            color: #958E8E;
            font-size: 20px;
            width: 25px;
            height: 25px;
            rotate: 90deg;

        }

        .active {

            .icon {
                rotate: 180deg;
            }
        }
    }

    .active-header {
        background-color: #5DBDBC;

        span,
        .icon {
            color: white;
        }
    }

    .command-info-container {
        width: 100%;
        margin: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;

        .devider {
            width: 1px;
            height: 84px;
            background-color: #D9D9D9;
        }

        .supplier-info {
            display: flex;
            flex: 1;

            .logo {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 27px;

                .logo-img {
                    background-position: center;
                    background-repeat: no-repeat;
                    object-fit: cover;
                    width: 73.394px;
                    height: 73.394px;
                    border-radius: 50%;
                }

                .name-rate {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: #484848;
                    font-family: Poppins;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
        }

        .command-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-left: 85px;
            padding-right: 37px;


            .start {
                display: flex;
                align-items: center;
                gap: 10px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                img {
                    width: 34px;
                    height: 34px;
                }

                .info {
                    .supplier-name {
                        color: #484848;
                        font-size: 15px;
                        margin: 0;

                    }

                    .supplier-position {
                        color: #958E8E;
                        font-size: 13px;
                        margin: 0;

                    }
                }
            }

            .delay {
                display: flex;
                align-items: center;
                gap: 10px;
                border-left: #FBC000 dashed 3px;
                padding-left: 27px;
                margin-left: 15px;
                height: 56px;

                .time-icon {
                    width: 16px;
                    height: 16px;
                }

                .meduim-time {
                    color: #FBC000;
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;

                    span {
                        color: #484848;
                        font-family: Poppins;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }
            }

            .end {
                display: flex;
                align-items: start;
                gap: 10px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                img {
                    width: 34px;
                    height: 34px;
                }

                .info {
                    .deliv-type {
                        color: #484848;
                        font-size: 15px;
                        margin: 0;
                    }

                    .supplier-position {
                        color: #958E8E;
                        font-size: 13px;
                        margin: 0;

                    }
                }
            }
        }
    }

    .delivery-info {
        display: flex;
        flex: 1;
        padding-left: 40px;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 27px;

            .logo-img {
                background-position: center;
                background-repeat: no-repeat;
                object-fit: cover;
                width: 102.369px;
                height: 76.667px;
                border-radius: 8px;
                background-color: #5DBDBC;
            }

            .name-rate {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                gap: 5px;
                color: #484848;
                font-family: Poppins;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                .supplier-Title {
                    color: #FBC000;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                // .supplier-name {}

                // .supplier-rates {}
            }
        }
    }


    .product-container {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        gap: 20px;
        // background-color: red;

        img {
            width: 142px;
            height: 107.544px;
            border-radius: 20px;
        }

        .product-info {
            width: 100%;
            border-bottom: 1px solid #D9D9D9;
            display: flex;
            justify-content: space-between;
            align-items: center;



            .description,
            .name,
            .qt,
            .price {
                color: #484848;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                margin: 0;
            }

            .description {
                width: 200px;

            }
        }
    }

}