@import '../../colors';

.supplierCard {
  width: 300px;
  background-color: transparent;
  max-height: 50%;
  border-radius: 25px;
  margin: 0 5px;
  position: relative;

  .favorIcon {
    z-index: 999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    position: absolute;
    top: 5%;
    background-color: white;
    right: 5px;

    &:hover {
      cursor: pointer;
    }

    .activeIcon {
      color: red;
    }

  }


  .restaurantLink {
    margin-bottom: 4px;
    text-decoration: none;
    padding-bottom: 3px;

    .card {
      position: relative;
      border-radius: 18px;

      .imageContainer {
        position: relative;
        height: 150px;

        .discountBox {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          background-color: $primary_color;
          padding: 0.2rem 0.4rem;
          border-radius: 0 1rem 1rem 0;
          position: absolute;
          top: 5%;
          left: 0;
          z-index: 1;

          p {
            font-size: 1vw;
            color: white;
            margin: 0;
          }

          .discountIcon {
            height: 1rem;
            margin-bottom: -0.2rem;
            margin-right: 0.3rem;
          }
        }

        .restaurantImage {
          object-fit: cover;
          height: 100%;
        }


      }

      .contentContainer {
        display: flex;
        padding: 1.2rem 1rem;

        .leftSide {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-family: Poppins;
          font-style: normal;
          font-weight: 700;
          flex: 2;


          .name {
            color: $dark_Gray;
            font-size: 13px;
            max-height: 200px;
            max-width: 100px;
            margin-bottom: 0;

            abbr {
              text-decoration: none;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .price {
            margin-bottom: 0;
            color: $light_Gray;
            font-size: 13px;
            font-weight: 600;

            span {
              margin-bottom: 0;
              color: $orange_color;
              font-size: 10px;
            }
          }

          .option {
            margin-bottom: 0;
            color: $primary_color;
            font-size: 10px;
          }

        }

        .rightSide {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-between;

          .restaurantTime {
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: $orange_color;
            border-radius: 25px;
            padding: 0.2rem 0.4rem;
            z-index: 1;

            p {
              margin: 0;
              color: white;
              text-align: center;
              font-family: Poppins;
              font-size: 12px;
              ;
              font-style: normal;
              font-weight: 600;
            }
          }

          .ratingBox {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 0.2rem 0.4rem;
            border-radius: 0 0 0 1rem;

            .starIcon {
              color: $orange_color;
              font-size: 2.2rem;
            }
          }
        }

      }
    }

  }

}



@media only screen and (max-width: 1200px) {
  .supplierCard {
    width: 94%;

    .restaurantLink {
      .card {
        height: 77%;

        .imageContainer {
          position: relative;
          height: 81px;
        }

        .contentContainer {
          p {
            margin: 0;
          }

          .leftSide {
            justify-content: space-around;
          }

          .rightSide {
            justify-content: space-around;

            .restaurantTime {
              p {
                font-size: 7px;
                ;
              }
            }

            .ratingBox {
              .starIcon {
                font-size: 2.2rem;
              }
            }
          }
        }

      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .supplierCard {
    .restaurantLink {
      .card {
        height: 50%;

        .imageContainer {
          position: relative;
          height: 81px;

          .discountBox {
            font-size: 6px;
          }
        }

        .contentContainer {


          .leftSide {
            .name {
              font-size: 10px;
              max-height: 200px;
              max-width: 100px;
            }

            .price {
              font-size: 6px;
              ;

              span {
                font-size: 6px;
              }
            }

            .option {
              font-size: 9px;
            }

          }

          .rightSide {
            .restaurantTime {
              p {
                font-size: 5px;
              }
            }

            .ratingBox {
              .starIcon {
                font-size: 2.2rem;
              }
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .supplierCard {
    .restaurantLink {
      .card {
        .imageContainer {
          height: 47px;
        }

        .contentContainer {
          position: relative;
          height: 59px;

          .leftSide {
            .name {
              font-size: 9px;
              max-height: 200px;
              max-width: 100px;
            }

            .price {
              font-size: 6px;
              ;

              span {
                font-size: 6px;
              }
            }

            .option {
              font-size: 7px;
            }

          }

          .rightSide {
            .restaurantTime {
              border-radius: 25px;
              padding: 0.2rem 0.4rem;

              p {
                margin: 0;
                font-size: 0.6vw;

              }
            }

            .ratingBox {
              padding: 0.2rem 0.4rem;

              .starIcon {
                font-size: 2.2rem;
              }
            }
          }

        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {

  .supplierCard {
    .restaurantLink {
      .card {
        .imageContainer {
          height: 30px;
        }

        .contentContainer {
          position: relative;
          height: 45px;

          .leftSide {
            .name {
              margin: 0;
              font-size: 4px;
              max-height: 200px;
              max-width: 100px;
            }

            .price {
              margin: 0;
              font-size: 4px;

              span {
                margin: 0;
                font-size: 4px;
              }
            }

            .option {
              margin: 0;
              font-size: 4px;
            }

          }

          .rightSide {
            .restaurantTime {
              border-radius: 25px;
              padding: 0.2rem 0.4rem;

              p {
                margin: 0;
                font-size: 0.6vw;

              }
            }

            .ratingBox {
              padding: 0.2rem 0.4rem;

              .starIcon {
                font-size: 2.2rem;
              }
            }
          }

        }
      }
    }
  }
}