@import "../../../../colors";



.trie-filter-container {
    border-radius: 8px;
    border: 1px solid #FBC000;
    padding: 18px;

    h1 {
        color: $dark_Gray;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .formm-range {
        width: 80%;
        border: none;
        height: 10px;
        transition: background-color 0.3s;
        background: $orange_color;
    }

    
    // /***** Chrome, Safari, Opera, and Edge Chromium *****/
    // input[type="range"] {
        
    // }
    input[type="range"]::-webkit-slider-thumb {
        background-color: $orange_color !important; /* Thumb color */
        
    }
    input[type="range"]::-webkit-slider-runnable-track {
        background-color: $orange_color ; /* Thumb color */
   
    }
    
    /******** Firefox ********/
    input[type="range"]::-moz-range-thumb {
        background-color: white; /* Thumb color */
      }
    input[type="range"]::-moz-range-progress {
        background-color: black; /* Thumb color */  
      }
    input[type="range"]::-moz-range-track {
        background: #053a5f;
        height: 0.5rem;
    }

}



@media screen and (max-width : 776px) {

    .trie-filter-container {
        h1 {
            font-size: 16px;
        }
    }

}

@media screen and (max-width : 576px) {

    .trie-filter-container {
        padding: 2px;

        h1 {
            font-size: 16px;
        }
    }
}

@media screen and (max-width : 450px) {

    .trie-filter-container {
        padding: 2px;

        h1 {
            font-size: 10px;
        }
    }
}