@import "../../../../scss/extend";
.reset-filter-container {
    display: flex;
    justify-content: end;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0px;
     &__btn{
        width: 119px;
        height: 59px;
        background-color: $color-blue-eastern;
        border: 2px solid $color-blue-eastern;        
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: $color-white;
        padding-inline: 15px;
        border-radius: 10px;
        margin-left: 12px;
        background-image: url("/src/assets/icons/reset.svg");
        background-size: 28px;
        background-position:  calc(100% - 15px) center;
        background-repeat: no-repeat;
        &:hover{
            background-color: $color-blue-eastern;
            border: 2px solid $color-blue-eastern;
            opacity: 1;
            color: $color-white;
            background-position: calc(100% - 14px) center;
        }
        &:focus, &:active{
            outline: none;
            border: none;
            background-color: $color-blue-eastern;
            border: 2px solid $color-blue-eastern;
            opacity: 1;
            color: $color-white;
            background-position: calc(100% - 14px) center;
        }
     }
}

