@import '../../colors';

.filter-page-container {

    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 57px;

    .display-main {
        .not-found-container {
            position: relative;
            height: 50vh;
            width: 100%;
            padding-left: 15px;

            .no-data-text {
                color: $dark_Gray;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .not-found-img {
                display: inline-block;
                height: 50px;
                width: 50px;
                width: 208.864px;
                height: 288.19px;
                object-fit: cover;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("../../assets/filter_page/notFound.png");
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .filter-side-bar {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .filtred-main {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        margin: 10px 0;

        .sup-card-container {
            width: 25vw;
        }

        .adsCols {
            grid-column: span 2;
        }
    }

    .paginationBtnsContainer {
        height: auto;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .pagination-btns {
            width: 429px;
            height: 81px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 5px;
            background-color: $Sunlit_Cream ;
            border-radius: 33px;

            a {
                width: 58px;
                height: 58px;
                margin: 8px;
                border-radius: 50%;
                border: 1px solid $orange_color;
                color: $light_Gray;
                background-color: white;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                font-family: Poppins;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;

                .icon {
                    width: 15px;
                }

                &:hover {
                    color: white;
                    background-color: $orange_color_001;
                }
            }

            .active {
                color: white;
                background-color: $orange_color_001;
            }
        }
    }

    .bulles {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 100px;
        right: 19px;
        gap: 20px;
        z-index: 1;

        .messanger-popup-btn,
        .phone-popup-btn {
            width: 64px;
            height: 64px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: transparent;
            border: navajowhite;
        }

        .messanger-popup-btn {
            position: relative;

            .messanger-bull-notif-icon {
                position: absolute;
                right: 0;
                top: 3px;
                color: white;
                background-color: #FBC000;
                border-radius: 50%;
                padding: 5px;
                font-size: 11px;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    }

    .discuter-messanger-popup {
        bottom: 117px;
        right: 55px;
        z-index: 800;
    }
}


@media only screen and (max-width:1500px) {
    .filter-categories-container {
        .display-main {

            .filtred-main {

                .sup-card-container {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .filter-page-container {
        .filter-side-bar {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            width: 100%;

            .filter-categories-container {
                grid-row: 1 / span 3;
                grid-column: 1;
            }

            .filter-trie-container {
                grid-row: 1 /span 3;
                grid-column: 2;
            }


            .search-produit-container {

                grid-row: 1;
                grid-column: 3;
            }

            .price-categories-container {
                grid-row: 3;
                grid-column: 3;
            }

            .cle-trie-container {
                grid-row: 2;
                grid-column: 3;
            }
        }

        .display-main {

            .filtred-main {

                .sup-card-container {
                    width: 40vw
                }
            }
        }
    }
}