@import '../../colors';

.searchContainer {
  background-color: $primary_color;
  border-radius: 25px;
  width: 64%;
  padding: 5px;
  min-height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .icons {
    color: white;
    .icon {
      font-size: 30px;
      margin-left: 5px;
    }
  }
  .iconBackgorund {
    width: 42px;
    height: 42px;
    background-image: url(/src/assets/icons/arrow.svg);
    background-color: white;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .headerSearchBar {
      color: white;
      border-radius: 25px;
      width: 80%;
      input {
        border-radius: 25px;
        padding: 5px;
        background-color: transparent;
        color: white;
        border: none;
        font-size: 14px;
        width: 100%;
        font-family: Poppins;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: white;
          text-align: center;
        }
      }
      button {
        border-radius: 25px;
        background-color: transparent;
        color: white;
        border: none;
        margin-left: 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        max-width: 100px;
        height: 40px;
        width: 40px;
        font-size: 20px;
        position: relative;
      }
      .filters {
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70%;
        left: 73%;
        background-color: white;
        z-index: 999;
        padding: 2rem;
        box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .searchContainer {
    width: 77%;
    padding: 5px 10px;
    form {
      .headerSearchBar {
        margin: 0;
        input {
          padding: 0 10px;
          font-size: 14px;
        }
      }
    }
    .bi-search {
      font-size: 10px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .searchContainer {
    .icons{
      .icon{
        font-size: 13px;
      }
    }
    form {
      .headerSearchBar {
        margin: 0;

        input {
          padding: 0px;
          font-size: 11px;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .searchContainer {
    padding: 0 5px;
    width: 120px;
    .icon {
      font-size: 8px;     
    }
    .iconBackgorund {
      background-color: white;
      border-radius: 50%;
      color: $primary_color;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    form {
      .headerSearchBar {
        margin: 0 0 3px 0;
        input {
          padding: 0px;
          font-size: 6px;
        }
      }
    }
  }
}