@import '../../../scss/extend';

.menue-options-container {
    display: flex;
    z-index: 999;
    padding: 2rem;
    margin-top: 67px;
    flex-wrap: wrap;

    >.container {
        max-width: 1548px;
    }

    .btn-back-blc {
        margin: 0 0 28px;

        .btn-back {
            background-image: url('./../../../assets/arrow-back.svg');
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 39px auto;
            padding: 0 0 0 50px;
            @include fonts(14px, 14px, $color-blue-pelorous);
            font-family: 'Poppins-SemiBold', serif;

            &.btn-link {
                text-decoration: none;
            }
        }
    }

    .modal-content-image {
        flex: 1.5;
        @include flex;
        max-width: 429px;
        overflow: hidden;
        margin-right: 2.5rem;
        margin-left: 1.2rem;

        .modal-content-image-inner {
            border-radius: 50px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @include dimensions(429px, 365px);
        }
    }

    .modal-content-options {
        flex: 2;
        overflow: auto;
        min-height: 100vh;

        .options-info {
            padding: 0 0 20px;

            .menu-title {
                @include fonts(32px, 32px, $dark_Gray);
                font-family: 'Poppins-SemiBold', serif;
                margin: 0 0 10px;
            }

            .menu-price {
                @include fonts(14px, 14px, $color-blue-eastern);
                font-family: 'Poppins-SemiBold', serif;
                margin: 0 0 10px;
            }

            .menu-description {
                p {
                    @include fonts(14px, 14px, $dark_Gray);
                    font-family: 'Poppins', serif;
                    font-weight: weight(regular);
                    margin: 0;
                }
            }
        }

        .no-options-needed {
            margin-bottom: 0.5rem;
        }

        .menu-options {
            flex: 2;
            margin: 0 0 50px 0;
            padding: 15px 0 0;

            .menu-options-header {
                @include flex(flex, center, space-between);
                padding: 7px 20px;
                background-color: $color-blue-pelorous;
                border-radius: 10px;
                margin: 0 0 20px;
                height: 49px;

                .option-name {
                    @include fonts(16px, 16px, $color-white);
                    font-family: 'Poppins-SemiBold', serif;
                }

                .option-max {
                    background-color: $Ocean_Teal;
                    min-width: 133px;
                    height: 34px;
                    border-radius: 55px;
                    font-family: 'Poppins', serif;
                    font-weight: weight(400);
                    @include fonts(16px, 16px, $color-white);
                    @include flex;
                }

                .option-obligatoir {
                    background-color: $color-blue-eastern;
                    min-width: 133px;
                    height: 34px;
                    border-radius: 55px;
                    font-family: 'Poppins', serif;
                    font-weight: weight(400);
                    @include fonts(16px, 16px, $color-white);
                    @include flex;
                }

                .warn {
                    background-color: red;

                }

            }

            .options-list {
                @include flex(flex, center, space-between);
                padding: 5px;

                .checkBox {
                    width: 70%;
                    display: flex;
                    justify-content: start;
                    gap: 10px;
                    align-items: center;

                    input[type="checkbox"] {
                        display: none;
                    }

                    label {
                        position: relative;
                        @include fonts(14px, 14px, $dark_002);
                        font-family: 'Poppins', serif;
                        font-weight: weight(regular);
                        cursor: pointer;
                    }

                    .custom-checkbox {
                        display: inline-block;
                        @include dimensions(22px, 22px);
                        background-color: $color-blue-powder-2;
                        border-radius: 5px;
                        position: relative;
                    }

                    .custom-checkbox::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        background-image: url('./../../../assets/checkbox-active.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 11px auto;
                        @include dimensions(11px, 8px);
                    }

                    input[type="checkbox"]:checked+.custom-checkbox {
                        background-color: $color-blue-pelorous;
                    }

                    input[type="checkbox"]:checked+.custom-checkbox::after {
                        opacity: 1;
                    }
                }

                .option-price {
                    @include fonts(14px, 14px, $dark_002);
                    font-family: 'Poppins', serif;
                    font-weight: weight(regular);
                }
            }
        }
    }

    .buttons {
        width: 100%;
        height: auto;
        @include flex(flex, center, space-around);

        .add-to-cart-button {
            @include dimensions(253px, 95px);
            border-radius: 55px;
            background: $orange_color;
            text-align: center;
            color: $color-white;
            font-family: 'Poppins-SemiBold', serif;
            font-size: 20px;
            line-height: normal;

            .cart-icon {
                @include dimensions(34px, 34px);
            }
        }

        .count-container {
            position: relative;
            @include border(1px, $orange_color);
            border-radius: 55px;
            @include dimensions(253px, 95px);
            display: flex;

            .count-buttons {
                @include flex;
                flex-direction: column;
                gap: 20px;

                button {

                    .count-more,
                    .count-less {
                        @include dimensions(24px, 24px);
                        color: $light_Gray;
                    }
                }
            }


            input[type="number"] {
                width: 70%;
                outline: none;
                background-color: transparent;
                border: none;
                color: $light_Gray;
                font-family: 'Poppins-SemiBold', serif;
                font-size: 24px;
                line-height: normal;
                padding-right: 41px;
                text-align: center;
                appearance: none;
                -webkit-appearance: none;

                &:hover {
                    cursor: auto;
                }
            }

            /* Remove the increment and decrement arrows in WebKit browsers */
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    .bulles {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 100px;
        right: 19px;
        gap: 20px;
        z-index: 1;

        .messanger-popup-btn,
        .phone-popup-btn {
            @include dimensions(64px, 64px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: transparent;
            border: navajowhite;
        }

        .messanger-popup-btn {
            position: relative;

            .messanger-bull-notif-icon {
                position: absolute;
                right: 0;
                top: 3px;
                color: $color-white;
                background-color: $orange_color;
                border-radius: 50%;
                padding: 5px;
                font-size: 11px;
                margin: 0;
                @include flex;
            }
        }

    }

    .discuter-messanger-popup {
        bottom: 117px;
        right: 55px;
        z-index: 10;
    }
}

/* -- supplier-details -- */

.supplier-details-header {
    background-color: $color-gray-gallery;
    border-radius: 10px;
    padding: 40px;
    margin: 0 0 55px;

    .supplier-title-area {
        margin: 0 0 33px;
        display: flex;
        align-items: center;
        gap: 40px;

        .supplier-logo {
            @include dimensions(85px, 85px);
            @include flex;
            border-radius: 15px;
            flex-shrink: 0;

            img {
                @include dimensions(100%, 100%);
                object-fit: cover;
                border-radius: 15px;
            }
        }

        .supplier-title-blc {
            width: 100%;

            .supplier-title {
                margin: 0 0 10px;
                font-family: 'Poppins-Bold', serif;
                @include fonts(36px, 36px, $dark_002);
            }

            .supplier-desc {
                margin: 0;
                font-family: 'Poppins', serif;
                font-weight: weight(regular);
                @include fonts(14px, 14px, $dark_002);
            }
        }

        .supplier-infos_ratings-count {
            .time {
                min-width: 190px;
                height: 43px;
                background-color: $color-blue-pelorous;
                border-radius: 55px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                @include fonts(17px, 17px, $color-white);
                font-family: 'Poppins-Medium', serif;
            }
        }

        .rate-gouping {
            @include flex(flex, center, flex-end);
            margin: 0 0 24px;

            .star-number {
                color: $dark_Gray;
                font-size: 24px;
                font-weight: weight(bold);
            }

            .starIcon {
                @include dimensions(36px, 35px);
                color: $orange_color;
            }

            .gift-icon {
                @include dimensions(28px, 34px);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 21px;
                color: $color-blue-eastern;
            }

            .favor {
                @include dimensions(23px, 29px);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-top: 5px;
                margin-right: 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .stars {
            text-align: end;
            margin: 0 0 29px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .starIcon {
                height: 28px;
                width: 28px;
                color: $orange_color;
            }

            .star-number {
                color: $dark_002;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                margin-right: 13px;
                display: inline-block;
                margin-top: 5px;
            }
        }
    }

    .supplier-infos_list {
        ul {
            margin: 0;
            padding: 0;
            @include flex(flex, center, space-between);

            li {
                list-style: none;
            }
        }

        .supplier-infos_list-item {
            display: flex;
            align-items: center;
            gap: 14px;
            @include fonts(16px, 16px, $dark_002);
            font-family: 'Poppins-Medium', serif;
            margin: 0;

            &::before {
                content: '';
                display: block;
                @include dimensions(40px, 40px);
                background-color: $color-blue-pelorous;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 50%;
            }

            &.location {
                &::before {
                    background-image: url('./../../../assets/location-icn.svg');
                    background-size: 15px auto;
                }
            }

            &.time-work {
                &::before {
                    background-image: url('./../../../assets/time-work-icn.svg');
                    background-size: 25px auto;
                }

                &.close {
                    color: $color-apricot;
                    font-family: 'Poppins-Bold', serif;

                    &::before {
                        background-color: $color-apricot;
                    }
                }
            }

            &.shipping-cost {
                &::before {
                    background-image: url('./../../../assets/shipping-cost-icn.svg');
                    background-size: 25px auto;
                }
            }
        }

        .time {
            min-width: 190px;
            height: 43px;
            background-color: $color-blue-pelorous;
            border-radius: 55px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include fonts(17px, 17px, $color-white);
            font-family: 'Poppins-Medium', serif;
        }
    }
}

.supplier-details-body {
    display: grid;
    grid-template-columns: 800px 1fr;
    grid-gap: 68px;
    margin: 0 0 80px;

    .modal-content-image {
        display: block;
        max-width: 100%;
        margin: 0;

        .modal-content-image-inner {
            border-radius: 10px;
            width: 100%;
            @include dimensions(100%, 945px);
        }
    }
}

/* -- menu-options-blc -- */
.menu-options-blc {
    border-top: 1px solid $color-gray-alto;
    padding: 34px 0 0;
    margin: 0 0 25px;
}

/* -- menu-options-blc -- */

.buttons {
    &.btns-group {
        justify-content: space-between;

        .count-container {
            @include dimensions(215px, 34px);

            input {
                &[type=number] {
                    width: 100%;
                    padding: 0;
                    @include fonts(15px, 15px, $dark_Gray);
                    font-family: 'Poppins-SemiBold', serif;
                }
            }

            .count-buttons {
                position: absolute;
                @include dimensions(100%, 100%);

                .btn {
                    @include dimensions(25px, 25px);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 12px auto;
                    position: absolute;

                    &.counter-more {
                        background-image: url('./../../../assets/plus-icn.svg');
                        right: 35px;
                    }

                    &.counter-minus {
                        background-image: url('./../../../assets/minus-icn.svg');
                        left: 35px;
                    }
                }
            }
        }

        .add-to-cart-button {
            background-color: $color-blue-pelorous;
            min-width: 240px;
            height: 34px;
            @include fonts(15px, 15px, $color-white);
            font-family: 'Poppins-Medium', serif;
        }
    }
}

/* -- menu-container -- */

.menu-container {
    .menu-title-blc {
        margin: 0 0 40px;

        .menu-title {
            margin: 0;
            @include fonts(32px, 32px, $dark_Gray);
            font-family: 'Poppins-SemiBold', serif;
        }
    }

    .menu-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

        .product-card {
            @include flex(flex, center, space-between);
            overflow: hidden;
            position: relative;
            max-width: 100%;
            height: 130px;
            border-radius: 15px;
            border: 1px solid rgba(149, 142, 142, 0.3);
            background: $color-white;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            .product-image {
                border-radius: 0 15px 15px 0;
                @include dimensions(100%, 130px);
            }

            .info-container {
                padding-left: 15px;
                display: flex;
                flex-direction: column;
                width: 57%;

                .product-title {
                    @include fonts(18px, 18px, $dark_Gray);
                    font-family: 'Poppins-SemiBold', serif;
                    margin: 0 0 10px;
                }

                .product-description {
                    margin: 0;
                    font-family: 'Poppins', serif;
                    @include fonts(15px, 20px, $dark_Gray);
                    font-weight: weight(regular);
                    overflow-y: auto;
                    scrollbar-width: none;
                    -ms-overflow-style: none;

                    &::-webkit-scrollbar {
                        @include dimensions(0, 0);
                    }

                    &::-webkit-scrollbar-track {
                        background-color: transparent;
                    }

                    p {
                        margin: 0;
                    }
                }

                .labels-container {
                    @include flex;
                    gap: 7px;
                    color: $color-white;
                    font-size: 12px;
                    font-weight: weight(regular);
                    font-family: 'Poppins-Bold', serif;

                    .popular-label {
                        background-color: $color-blue-eastern;
                        padding: 2px 10px;
                        border-radius: 25px;
                    }

                    .discount-label {
                        background-color: $orange_color;
                        padding: 2px 10px;
                        border-radius: 25px;
                    }
                }

                .product-price {
                    margin: 0 0 10px;
                    font-family: 'Poppins-SemiBold', serif;
                    @include fonts(15px, 15px, $Ocean_Teal);
                }

                .product-button {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    min-width: 30px;
                    height: 30px;
                    background-color: $color-blue-eastern;
                    border-radius: 50%;
                    @include flex;
                    color: $color-white;
                    font-family: 'Poppins-Bold', serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: weight(light);
                    line-height: normal;

                    &::after {
                        content: '';
                        position: absolute;
                        top: -5;
                        left: -5;
                        opacity: 0.5;
                        min-width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background-color: $primary_color;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    svg {
                        fill: $color-white;
                    }
                }
            }
        }
    }
}

/* # $Mobile ::
------------------------------------*/

@media (max-width: 1440px) {
    .supplier-details-header {
        padding: 30px;
        margin: 0 0 45px;

        .supplier-title-area {
            margin: 0 0 27px;
            gap: 30px;

            .supplier-logo {
                @include dimensions(65px, 65px);
            }

            .supplier-title-blc {
                .supplier-title {
                    @include fontSize(30px, 30px);
                }

                .supplier-desc {
                    @include fontSize(11px, 11px);
                }
            }
        }

        .supplier-infos_list {
            .supplier-infos_list-item {
                @include fontSize(13px, 13px);

                &::before {
                    @include dimensions(30px, 30px);
                }

                &.location {
                    &::before {
                        background-size: 12px auto;
                    }
                }

                &.time-work {
                    &::before {
                        background-size: 20px auto;
                    }
                }

                &.shipping-cost {
                    &::before {
                        background-size: 20px auto;
                    }
                }
            }

            .time {
                min-width: 150px;
                height: 35px;
                @include fontSize(14px, 14px);
            }
        }
    }

    .supplier-details-body {
        grid-template-columns: 640px 1fr;
        grid-gap: 55px;
        margin: 0 0 65px;

        .modal-content-image {
            .modal-content-image-inner {
                height: 755px;
                border-radius: 7px;
            }
        }
    }

    .menue-options-container {
        .modal-content-options {
            .options-info {
                .menu-title {
                    @include fontSize(26px, 26px);
                }

                .menu-price {
                    @include fontSize(12px, 12px);
                }

                .menu-description {
                    margin: 0;

                    p {
                        @include fontSize(12px, 12px);
                    }
                }
            }

            .menu-options {
                .menu-options-header {
                    margin: 0 0 16px;
                    height: 45px;

                    .option-name {
                        @include fontSize(13px, 20px);
                    }

                    .option-obligatoir {
                        min-width: 100px;
                        height: 30px;
                        @include fontSize(13px, 13px);
                    }
                }

                .options-list {
                    .checkBox {
                        label {
                            @include fontSize(12px, 12px);
                        }

                        .custom-checkbox {
                            @include dimensions(16px, 16px);
                            border-radius: 4px;
                        }
                    }

                    .option-price {
                        @include fontSize(12px, 12px);
                    }
                }
            }
        }
    }

    .menu-options-blc {
        padding: 28px 0 0;
        margin: 0 0 20px;
    }

    .buttons {
        &.btns-group {
            .count-container {
                width: 170px;

                .count-buttons {
                    .btn {
                        &.counter-minus {
                            left: 25px;
                        }

                        &.counter-more {
                            right: 25px;
                        }
                    }
                }
            }
        }
    }

    .buttons {
        &.btns-group {
            .add-to-cart-button {
                width: initial;
                min-width: 190px;
                @include fontSize(12px, 12px);
            }
        }
    }

    .menu-container {
        .menu-grid {
            gap: 40px;

            .product-card {
                .info-container {
                    .product-button {
                        min-width: 24px;
                        height: 24px;
                        font-size: 16px;

                        &::after {
                            min-width: 35px;
                            height: 35px;
                        }
                    }
                }
            }
        }

        .menu-title-blc {
            margin: 0 0 30px;

            .menu-title {
                @include fontSize(25px, 25px);
            }
        }
    }
}

@media (max-width: 1200px) {
    .supplier-details-body {
        grid-template-columns: 550px 1fr;
        grid-gap: 45px;
        margin: 0 0 50px;

        .modal-content-image {
            .modal-content-image-inner {
                height: 600px;
            }
        }
    }
}

@media (max-width: 1050px) {
    .supplier-details-body {
        grid-template-columns: 550px 1fr;
        grid-gap: 45px;
        margin: 0 0 50px;
    }

    .buttons {
        &.btns-group {
            .add-to-cart-button {
                min-width: 160px;
            }

            .count-container {
                width: 130px;

                .count-buttons {
                    .btn {
                        &.counter-more {
                            right: 10px;
                        }

                        &.counter-minus {
                            left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {

    .menue-options-container {
        .buttons {
            .add-to-cart-button {
                @include dimensions(253px, 60px);
                font-size: 16px;
            }

            .count-container {
                @include dimensions(200px, 60px);

                .count-buttons {
                    gap: 2px;
                }

                input[type=number] {
                    padding: 0;
                    font-size: 18px;
                }
            }
        }
    }
}

.loading-menu-container {
    display: flex;
    margin-block: 55px;
    gap: 68px;

    .MuiSkeleton-rectangular {
        border-radius: 10px
    }

    .right-loaders {
        width: 50%;

        .MuiSkeleton-rectangular {
            margin-bottom: 20px;
        }
    }
}

.loading-container {
    .MuiSkeleton-rectangular {
        border-radius: 10px
    }
}

@media only screen and (max-width : 768px) {

    .menue-options-container {
        margin-top: 74px;

        .modal-content-image {
            // padding-top: 150px;

            max-width: 429px;

            .modal-content-image-inner {
                max-width: 429px;
                height: 365.856px;
            }
        }

        .modal-content-options {
            .options-info {
                .menu-title {
                    max-width: 388px;
                    font-size: 24px;
                }

                .menu-price {
                    max-width: 505px;
                    font-size: 20px;
                }

                .menu-description {
                    width: 100%;
                    font-size: 20px;
                }
            }

            .menu-options {
                padding: 0;

                .menu-options-header {
                    .option-name {
                        @include dimensions(80%, 22px);
                        font-size: 13.086px;
                    }

                    .option-max {
                        @include dimensions(59px, 19px);
                    }

                    .option-obligatoir {
                        @include dimensions(96px, 19px);
                    }
                }

                .options-list {
                    .checkBox {
                        label {
                            font-size: 12px;
                        }
                    }

                    .option-price {
                        font-size: 12px;
                    }
                }

            }

        }

        .buttons {
            gap: 20px;

            .add-to-cart-button {
                @include dimensions(253px, 60px);
                font-size: 16px;

                .cart-icon {
                    @include dimensions(20px, 20px);
                }
            }

            .count-container {
                @include dimensions(200px, 60px);

                .count-buttons {
                    gap: 9px;

                    button {

                        .count-more,
                        .count-less {
                            @include dimensions(18px, 18px);
                            color: $light_Gray;
                        }
                    }
                }

                input[type="number"] {
                    padding: 0;
                    font-size: 18px;
                }
            }
        }

    }
}


@media only screen and (max-width : 576px) {

    .menue-options-container {
        padding: 7px;

        .modal-content-image {
            // padding-top: 100px;
            margin-left: 0;

            .modal-content-image-inner {
                height: 250.856px;
            }
        }

        .modal-content-options {
            .options-info {
                .menu-title {
                    max-width: 388px;
                    font-size: 16px;
                }

                .menu-price {
                    max-width: 505px;
                    font-size: 16px;
                }

                .menu-description {
                    width: 100%;
                    font-size: 16px;
                }
            }

            .menu-options {
                padding: 0;
                margin-bottom: 10px;

                .menu-options-header {
                    padding: 0;
                    margin-bottom: 5px;

                    .option-name {
                        width: 140px;
                        font-size: 9px;
                    }

                    .option-max {
                        width: 62px;
                        font-size: 8px;
                    }

                    .option-obligatoir {
                        width: 62px;
                        font-size: 8px;
                    }

                }

                .options-list {
                    .checkBox {
                        label {
                            font-size: 10px;
                        }
                    }

                    .option-price {
                        font-size: 10px;
                    }
                }

            }

        }

        .buttons {
            gap: 20px;

            .add-to-cart-button {
                @include dimensions(253px, 50px);
                font-size: 12px;

                .cart-icon {
                    @include dimensions(16px, 16px);
                    margin-right: 3px;
                }
            }

            .count-container {
                @include dimensions(200px, 50px);

                .count-buttons {
                    gap: 0;

                    button {

                        .count-more,
                        .count-less {
                            @include dimensions(18px, 18px);
                            color: $light_Gray;
                        }
                    }
                }

                input[type="number"] {
                    padding: 0;
                    font-size: 12px;
                }
            }
        }

    }
}