@import '../../colors';

.applicationAdsMainContainer {
    width: 100%;
    height: 362px;
    position: relative;
    background-color: white;
    border-radius: 50px;

    .applicationAdsImg {
        width: 281px;
        height: 559px;
        position: absolute;
        z-index: 10;
        top: 25px;
        left: 177px;
    }

    .applicationAdsDesignContainer {
        position: relative;


        .applicationAdsInfo {
            width: 862px;
            height: 276px;
            background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='1241' height='356' viewBox='0 0 1241 356' fill='none'><path d='M1241 171.855C1241 141.02 1217.63 115.205 1186.94 112.15L65.9431 0.56409C30.6312 -2.95092 0 24.7826 0 60.269V296C0 329.137 26.8629 356 60 356H1181C1214.14 356 1241 329.137 1241 296V171.855Z' fill='%2324A6A4'/></svg>");
            background-repeat: no-repeat;
            background-size: 98% 297px;
            display: flex;
            justify-content: center;
            align-items: center;

            .infoContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 46%;
                margin-top: 8%;

                .info1P1 {
                    width: 210px;
                    height: 55px;
                    color: white;
                    font-family: Poppins;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .info1P2 {

                    width: 187px;
                    height: 68px;
                    color: white;
                    font-family: Poppins;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;
                }

                .info1Button {
                    width: 179px;
                    height: 50px;
                    margin-bottom: 16px;
                    border-radius: 25px;
                    background: $orange_color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-family: Poppins;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 18px;
                }

                .info2P1 {
                    width: 96px;
                    height: 78px;
                    color: $orange_color;
                    font-family: Poppins;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }

                .info3 {
                    p {
                        margin: 0;
                    }

                    .info3P1 {
                        width: 396px;
                        height: 38px;
                        color: $orange_color;
                        font-family: Poppins;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 700;

                        line-height: normal;

                    }

                    .info3P2 {
                        color: white;
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    .socialBoxs {
                        margin: 7px 3px;
                        height: 36px;
                        display: inline-block;
                        border: 1px white solid;
                        border-radius: 5px;
                    }

                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .applicationAdsMainContainer {
        .applicationAdsImg {
            width: 265.96px;
            top: 25px;
            left: 72px;
        }

        .applicationAdsInfo {
            .infoContainer {

                margin-left: 36%;
                margin-top: 9%;
            }
        }


    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {

    .applicationAdsMainContainer {
        padding-top: 36px;
        height: 220px;

        .applicationAdsImg {

            width: 159px;
            height: 223px;
            top: 26px;
            left: 8%;

        }

        .applicationAdsDesignContainer {

            .applicationAdsInfo {
                width: 98%;
                height: 165px;
                background-size: 94% 100%;

                .infoContainer {
                    margin-left: 13%;
                    margin-top: 5%;

                    .info1 {
                        .info1P1 {
                            width: 130px;
                            height: 36px;
                            font-size: 13px;
                        }

                        .info1P2 {
                            width: 156px;
                            height: 38px;
                            font-size: 13px;
                        }

                        .info1Button {
                            width: 113px;
                            height: 29px;
                            margin: 5px 0;
                            font-size: 16px;
                        }
                    }

                    .info2 {
                        display: flex;
                        align-items: center;

                        .info2P1 {
                            width: 55px;
                            height: 21px;
                            font-size: 29px;
                            margin-bottom: 41px;
                            margin-right: -7px;
                            margin-left: 5px;
                        }
                    }

                    .info3 {
                        .info3P1 {
                            width: 143px;
                            height: 28px;
                            font-size: 17px;

                        }

                        .info3P2 {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 575px) and (max-width:767px) {
    .applicationAdsMainContainer {

        padding-top: 36px;
        height: 216px;

        .applicationAdsImg {
            width: 27%;
            height: 118%;
            top: 13%;
            left: 5%;
        }

        .applicationAdsDesignContainer {

            .applicationAdsInfo {
                width: 98%;
                height: 165px;
                background-size: 94% 100%;

                .infoContainer {
                    width: 135px;
                    margin-left: 22%;
                    margin-top: 6%;

                    .info1P1 {
                        margin: 0 0 3px 0;
                        width: 130px;
                        height: 32px;
                        font-size: 11px;
                    }

                    .info1P2 {
                        width: 156px;
                        height: 29px;
                        font-size: 11px;
                    }


                    .info1Button {
                        width: 93px;
                        height: 21px;
                        margin: 5px 0;
                        font-size: 11px;
                    }

                    .info2 {
                        display: flex;
                        align-items: center;

                        .info2P1 {
                            width: 41px;
                            height: 22px;
                            font-size: 24px;
                            margin-bottom: 29px;
                        }
                    }

                    .info3 {
                        .info3P1 {
                            width: 143px;
                            height: 21px;
                            font-size: 11px;
                        }

                        .info3P2 {
                            font-size: 8px;
                        }

                        .socialBoxs {
                            margin: 7px 3px;
                            width: 30px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:574px) {
    .applicationAdsMainContainer {
        padding-top: 36px;
        height: 216px;


        .applicationAdsImg {
            width: 27%;
            height: 81%;
            top: 18%;
            left: 6%;
        }

        .applicationAdsDesignContainer {

            .applicationAdsInfo {
                width: 103%;
                height: 165px;
                background-size: 100% 100%;

                .infoContainer {
                    width: 239px;
                    margin-left: 27%;
                    margin-top: 7%;

                    .info1P1 {
                        margin: 0 0 3px 0;
                        width: 113px;
                        height: 21px;
                        font-size: 8px;
                    }

                    .info1P2 {
                        font-size: 6px;
                        width: 95px;
                        height: 22px;
                    }


                    .info1Button {
                        width: 93px;
                        height: 21px;
                        margin: 5px 0;
                        font-size: 11px;
                    }

                    .info2 {
                        display: flex;
                        align-items: center;

                        .info2P1 {
                            width: 36px;
                            height: 23px;
                            font-size: 22px;
                            margin-bottom: 29px;
                        }
                    }

                    .info3 {
                        .info3P1 {
                            width: 143px;
                            height: 21px;
                            font-size: 11px;
                        }

                        .info3P2 {
                            font-size: 8px;
                        }

                        .socialBoxs {
                            margin: 7px 3px;
                            width: 30px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:460px) {
    .applicationAdsMainContainer {

        .applicationAdsImg {
            width: 26%;
            height: 64%;
            top: 24%;
            left: 6%;
        }

        .applicationAdsDesignContainer {

            .applicationAdsInfo {

                .infoContainer {
                    margin-left: 42%;
                    margin-top: 4%;

                    .info1P1 {
                        margin: 0 0 3px 0;
                        width: 80px;
                        height: 17px;
                        font-size: 6px;
                    }

                    .info1P2 {
                        font-size: 5px;
                        width: 80px;
                        height: 22px;
                    }


                    .info1Button {
                        width: 63px;
                        height: 21px;
                        margin: -2px 0;
                        font-size: 7px;

                    }

                    .info2 {
                        display: flex;
                        align-items: center;

                        .info2P1 {
                            width: 36px;
                            height: 23px;
                            font-size: 18px;
                            margin-bottom: 16px;
                        }
                    }

                    .info3 {
                        .info3P1 {
                            width: 143px;
                            height: 12px;
                            font-size: 8px;
                        }

                        .info3P2 {
                            font-size: 5px;
                        }

                        .socialBoxs {
                            margin: 2px 2px;
                            width: 30px;
                            height: 18px;

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:375px) {
    .applicationAdsMainContainer {

        .applicationAdsImg {
            width: 30%;
            height: 45%;
            top: 38%;
            left: 10%;
        }

        .applicationAdsDesignContainer {
            .applicationAdsInfo {
                .infoContainer {
                    margin-left: 28%;
                    margin-top: 3%;

                    .info1P1 {
                        margin: 0 0 3px 0;
                        width: 64px;
                        height: 12px;
                        font-size: 5px;
                    }

                    .info1P2 {
                        font-size: 4px;
                        width: 69px;
                        height: 19px;
                    }


                    .info1Button {
                        width: 40px;
                        height: 14px;
                        margin: -6px 0;
                        font-size: 4px;

                    }

                    .info2 {
                        display: flex;
                        align-items: center;

                        .info2P1 {
                            width: 21px;
                            height: 23px;
                            font-size: 12px;
                            margin-bottom: 2px;
                        }
                    }

                    .info3 {
                        .info3P1 {
                            width: 61px;
                            height: 9px;
                            font-size: 6px;
                            margin-bottom: 0px;
                        }

                        .info3P2 {
                            font-size: 4px;
                        }

                        .socialBoxs {
                            margin: 2px 0px;
                            width: 23px;
                            height: 17px
                        }
                    }
                }
            }
        }
    }
}