@import '../../colors';

.mapOverPlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 990;

}

.headerContainer {
    margin-top: 136px;
}

.head1 {
    position: relative;

    .demiCercle {
        position: absolute;
        top: 80px;
        left: -491px;
        z-index: 20;
        width: 532px;
        height: 432px;
        border-radius: 500px;
        background: linear-gradient(180deg, $orange_color 0%, $orange_color 100%);
    }
}


.fixedHeaderContainer {

    background-color: $white_001;
    height: 137px;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 0;
    padding: 9px 11px 0px 13px;
    border-radius: 0 0 10px 10px;

    z-index: 990;

    .logoContainer {
        cursor: pointer;

        .logoMain {
            background-repeat: no-repeat;
            display: inline-block;
            background-image: url("/src/assets/icon.png");
            width: 77px;
            height: 119.64px;
        }
    }


    .appBar {
        display: flex;
        justify-content: end;
        gap: 2px;
        position: relative;

        .LoadingButton {
            padding: 0.4rem;
            background-color: $primary_color;
            border-radius: 20px;
            border-width: 0;
            color: $white_001;
            font-weight: 500;
            width: 141px;
            height: 40px;
            text-align: center;
            font-size: 18px;

            &:hover {
                background-color: $primary_color_001;
                transform: translateY(-2px);
            }
        }
    }
}


.headerMessage {
    margin-top: 2px;
    display: flex;
    flex-direction: column;

    .headerMessageSyle1 {
        margin: 3px 0 0 0;
        display: inline;
        color: $dark_Gray;
        font-family: Poppins;
        font-size: 40px;
        ;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .headerMessageSyle2 {
        display: inline;
        color: $primary_color;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.Switches {
    margin: 15px 0;
}

.headerLocalisationMessageContainer {
    margin: 5px 0;
    display: flex;
    padding: 22px 0;
    flex-direction: column;
    cursor: pointer;

    a {
        color: $dark_Gray;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: color 1s;

        &:hover {
            color: black;
        }

        .localisationIcon {
            position: relative;
            top: -2px;
            color: $primary_color;
        }
    }
}

.imageBuilder {
    background-image: url(/src/assets/home/images.png);
    background-size: 100% 100%;
    // background-position: right;
    background-repeat: no-repeat;
    width: 438px;
    height: 310px;
}


.minimizedFixedHeaderContainer {
    height: 62px;

    .minimizedlogoMain {
        height: 32.64px !important;
        background-size: 32%;
    }
}




.fixedHeaderContainer2 {
    background-color: $white_001;
    height: 75px;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 0px 0px 20px 20px;
    z-index: 990;

    .logoContainer {
        cursor: pointer;

        .logoMain {
            background-repeat: no-repeat;
            display: inline-block;
            background-image: url("/src/assets/icon.png");
            background-position: center;
            background-size: cover;
            width: 31.81px;
            height: 39px;
        }
    }

    .info {
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;


        .position {
            color: $dark_Gray;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;

            .position-icon {
                font-size: 18px;
                color: $primary_color;
            }
        }

        .account {
            color: $primary_color;

            .account-icon {
                font-size: 18px;
            }

        }

        .search {
            color: $primary_color;

            .search-icon {
                font-size: 18px;
            }
        }

        .cart-item {
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;
            width: 82px;
            height: 46px;
            background-color: $orange_color;
            border-radius: 55px;
            color: white;
            font-family: Poppins;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            .cart-icon {
                font-size: 20px;
            }

            &:hover {
                cursor: pointer;
            }

        }
    }
}

@keyframes cart-animation {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.cart-container {
    position: fixed;
    top: 80px;
    right: 12vw;
    width: 473px;
    max-height: 80vh;
    background-color: white;
    z-index: 999;
    overflow-y: scroll;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: cart-animation 0.5s linear;

    &::-webkit-scrollbar {
        width: 0.5rem;
        /* Set a width for the scrollbar */
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        /* Set the track color to transparent */
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        /* Set the thumb color to transparent */
    }

}


@media only screen and (max-width:1200px) {
    .head1 {
        .demiCercle {
            top: 73px;
            left: -469px;
        }
    }

    .fixedHeaderContainer {
        height: 82px;

        .logoContainer {
            .logoMain {
                background-size: 50%;
                width: 77px;
                height: 94px;
            }
        }
    }

    .headerContainer {
        margin-top: 70px;

        .headerAppBar2 {
            .headerMessage {

                .headerMessageSyle1,
                .headerMessageSyle2 {
                    font-size: 31px;
                }
            }

            .headerLocalisationMessageContainer {
                a {
                    font-size: 15px;

                    .localisationIcon {
                        top: -2px;
                    }
                }
            }
        }

        .LoadingButton {
            width: 82px;
            height: 34px;
        }

        .imageBuilder {
            width: 354px;
            height: 281px;
        }
    }



    .fixedHeaderContainer2 {
        max-height: 75px;
        bottom: 0;
        padding: 0 10px;

        .logoContainer {
            .logoMain {
                width: 31.81px;
                height: 39px;
            }
        }

        .info {
            width: 60%;
            height: 80%;
            gap: 10px;

            .position {
                font-size: 16px;
                gap: 7px;
                width: 400px;
            }

            .cart-item {
                gap: 7px;
                width: 82px;
                height: 46px;
                font-size: 20px;
            }
        }
    }
}


@media only screen and (max-width: 992px) {
    .fixedHeaderContainer2 {
        .info {
            .position {
                font-size: 15px;
                gap: 7px;
                width: 400px;
            }
        }
    }

    .head1 {
        .demiCercle {
            width: 200px;
            height: 200px;
            top: 114px;
            left: -167px;
        }
    }

    .headerContainer {

        .imageBuilder {
            width: 255px;
            height: 208px;
        }


        .headerAppBar2 {
            .headerMessage {

                .headerMessageSyle1,
                .headerMessageSyle2 {
                    font-size: 24.54px;
                }
            }

            .headerLocalisationMessageContainer {
                padding: 0 8px;

                a {
                    font-size: 8.5px;

                    .localisationIcon {
                        top: -2px;
                    }
                }
            }

        }
    }

}

@media only screen and (max-width: 768px) {

    .fixedHeaderContainer2 {
        .info {
            .position {
                font-size: 12px;
                gap: 7px;
                width: 400px;
            }
        }
    }

    .headerContainer {
        .imageBuilder {
            width: 191px;
            height: 186px;
        }

        .headerAppBar2 {
            .headerMessage {

                .headerMessageSyle1,
                .headerMessageSyle2 {
                    font-size: 18px;
                }
            }

            .headerLocalisationMessageContainer {
                a {
                    font-size: 7px;

                    .localisationIcon {
                        top: -2px;
                        font-size: 4.88px;
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 576px) {
    .fixedHeaderContainer2 {
        .info {
            .position {
                font-size: 10px;
                gap: 7px;
                width: 400px;
            }
        }
    }

    .cart-container {
        top: 80px;
        right: 10vw;
        width: 273px;
    }

    .head1 {
        .demiCercle {
            top: 106px;
            left: -169px;
            height: 200px;
            width: 200px;
        }
    }


    .fixedHeaderContainer {
        .appBar {
            .LoadingButton {
                width: 60px;
                height: 25px;
                font-size: 6.33px;
                padding: 1px;
            }
        }
    }

    .headerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;

        .imageBuilderContainer {
            display: flex;
            justify-content: center;

            align-items: center;

            .imageBuilder {
                background-position: center center;
                background-size: contain;
                width: 177px;
                height: 125px;
            }
        }

        .headerAppBar2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .headerMessage {

                .headerMessageSyle1,
                .headerMessageSyle2 {
                    font-size: 11px;
                }
            }

            .headerLocalisationMessageContainer {
                padding: 0;
                margin: 0px;

                a {
                    font-size: 6.33px;

                    .localisationIcon {
                        top: -2px;
                    }
                }
            }
        }
    }

    .Switches {
        margin: 4px 0;
    }
}