@import '../../colors';
@import '../../animations';

.mapOverPlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 990;

}

.headerContainer {
    padding-top: 75px;
    @media (max-width: 1399.98px) { 
        margin-bottom: -80px;
    }  
}


.header{
    padding-top: 0 !important;
    margin-top: 0 !important;
    .head1 {
        position: absolute;
        overflow: hidden;
        top: 31%;
        left: 0;
        width: 91px;
        .demiCercle {
            z-index: 20;
            height: 352.35px;
            width: 352.35px;
            transform: translateX(-261.35px);            
            border-radius: 500px;
            background: linear-gradient(180deg, #FBC000 0%, #FBC000 100%);
        }      
        @media (max-width: 1399.98px){ 
            // top: 31%;
            transform: scale(0.8);
            left: 0;
        }
        @media (max-width: 1468px) {
            transform: scale(0.8);
            left:-28px;
            // top: 55%;
        }
    }
    .imageBuilderContainer{
        position: relative;
        z-index: 1;
        padding: 0;
        height: 600px;     
        @media (max-width: 1399.98px) { 
            transform: translateX(84px) scale(0.8);
            height: 532px;
        }        
        @media (max-width: 1199.98px){ 
            transform: translateX(84px) scale(0.8);
            height: 532px;
        }
        @media (max-width: 991.98px) { 
            transform: translateX(245px) scale(0.8);
        }
    .imageBuilder {
        background-image: url(/src/assets/home/image.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
        width: 570px;
        height: 610px;
        border-radius: 0 0 292px 206px;
        position: absolute;
        right: -55px;
        bottom: -2px;
        &::before{
            content: "";
            width: 173px;
            height: 147px;
            background-image: url("/src/assets/home/pizza.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 22%;
            left: -154px;
        }
        &::after{
            content: "";
            width: 110px;
            height: 159px;
            background-image: url("/src/assets/home/purepng.png");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            bottom: 13%;
            left: -148px;
        }
    }
    &::before{
        content: "";
        width: 566px;
        height: 500px;
        background: linear-gradient(180deg, #EFBF42 -11.3%, #FDD543 111.3%);
        display: block;
        z-index: -1;
        position: absolute;
        border-radius: 248.5px;
        bottom: 0;
        right: -28px;
    }
    &::after{
        content: "";
        width: 165px;
        height: 126px;
        background-image: url(/src/assets/home/pizza2.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        position: absolute;
        right: -78px;
        top: 24%;
    }
}
}


.fixedHeaderContainer {

    background-color: $white_001;
    height: 137px;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 0;
    padding: 9px 11px 9px 13px;
    border-radius: 0 0 10px 10px;

    z-index: 990;

    .logoContainer {
        cursor: pointer;
        height: 100%;

        .logoMain {
            background-repeat: no-repeat;
            display: inline-block;
            background-image: url("/src/assets/icon.png");
            width: 77px;
            height: 119.64px;
        }
    }


    .appBar {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;
        gap: 2px;
        position: relative;

        .LoadingButton {
            padding: 0.4rem;
            background-color: $primary_color;
            border-radius: 20px;
            border-width: 0;
            color: $white_001;
            font-weight: 500;
            width: 127px;
            height: 43px;
            text-align: center;
            font-size: 15px;

            &:hover {
                background-color: $primary_color_001;
                transform: translateY(-2px);
            }
        }


    }
}

.headerAppBar2 {
    // margin-left: 42px;
    padding-top: 135px;
    @media (max-width: 1399.98px) { 
        margin-left: 42px;
        padding-top: 60px;
    }
    @media (max-width: 991.98px) { 
        margin-left: 0px;
        padding-top: 122px;
    }
    .headerMessage {
        margin-top: 2px;
        display: flex;
        flex-direction: column;

        .headerMessageSyle1 {
            margin: 3px 0 0 0;
            display: inline;
            color: $dark_Gray;
            font-family: Poppins;
            font-size: 40px;
            ;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .headerMessageSyle2 {
            display: inline;
            color: $primary_color;
            font-family: Poppins;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.Switches {
    margin: 15px 0;
}

.headerLocalisationMessageContainer {
    margin: 5px 0;
    display: flex;
    padding: 22px 0;
    flex-direction: column;
    cursor: pointer;

    a {
        color: #484848;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: color 1s;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 19px;

        .pin-icon {
            font-size: 24px;
        }

        &:hover {
            color: black;
        }

        .localisationIcon {
            background-image: url(/src/assets/icons/map.svg);
            width: 15px;
            height: 21px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}




.minimizedFixedHeaderContainer {
    height: 62px;
    padding: 0;

    .minimizedlogoMain {
        height: 100% !important;
        background-size: 32%;
        background-position: center;
        background-repeat: no-repeat;
    }
}




.fixedHeaderContainer2 {
    background-color: #fffefe;
    height: 75px;
    position: fixed;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px 0 10px;
    border-radius: 0px 0px 20px 20px;
    z-index: 978;
    transition: box-shadow 0.3s ease-in-out;

    .header-buttons {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 5px;

        .LoadingButton {
            padding: 0.4rem;
            background-color: $primary_color;
            border-radius: 20px;
            border-width: 0;
            width: 141px;
            height: 40px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-family: Poppins;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            &:hover {
                background-color: $primary_color_001;
                transform: translateY(-2px);
            }

            &.header-signup {
                color: #24A6A4;
                background-color: transparent;
            }
        }
    }

    .logoContainer {
        cursor: pointer;

        .logoMain {
            background-repeat: no-repeat;
            display: inline-block;
            background-image: url(/src/assets/logo-horizontale.svg);
            background-position: center;
            background-size: contain;
            width: 131px;
            height: 47px;
            margin-left: 20px;
        }
    }

    .info {
        height: 80%;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;


        .position {
            color: $dark_Gray;
            font-family: Poppins;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 7px;
            margin-right: 10px;
            .position-icon {
                font-size: 21px;
                color: $primary_color;
            }
        }

        .account,
        .search {
            margin: 3px 0;

        }

        .account {
            color: $primary_color;
            position: relative;

            .notif-number-container {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 5px;
                background-color: red;
                color: white;
                font-size: 8px;
                font-weight: 400;
                border-radius: 50%;
                text-align: center;
            }

            &:hover {
                cursor: pointer;
            }

            .account-icon {
                width: 40px;
                height: 44px;
                background-image: url(/src/assets/icons/account.svg);
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px;
            }


        }

        .loggedin-account {
            display: none;
        }

        .search {
            color: $primary_color;

            &:hover {
                cursor: pointer;
            }

            .search-icon {
                width: 30px;
                height: 30px;
            }
        }

        .cart-item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 7px;
            width: 82px;
            height: 46px;
            background-color: $orange_color;
            border-radius: 55px;
            color: white;
            font-family: Poppins;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            .cart-icon {
                height: 20px;
                width: 20px;
                display: block;
                background-image: url(/src/assets/icons/cart.svg);
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: center;
            }

            &:hover {
                cursor: pointer;
            }

        }
    }
    &.scroll{
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }
}


.cart-container {
    position: fixed;
    top: 80px;
    right: 12vw;
    width: 408px;
    background-color: white;
    z-index: 999;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: cart-animation 0.3s linear;
    padding: 15px 0;
}


@media only screen and (max-width:1200px) {
    .head1 {
        .demiCercle {
            top: 22px;
            left: -493px;
        }
    }

    .fixedHeaderContainer {
        height: 82px;

        .logoContainer {
            .logoMain {
                background-size: 50%;
                width: 77px;
                height: 94px;
            }
        }
    }

    .headerContainer {

        .headerAppBar2 {
            .headerMessage {

                .headerMessageSyle1,
                .headerMessageSyle2 {
                    font-size: 31px;
                }
            }

            .headerLocalisationMessageContainer {
                a {
                    font-size: 15px;
                    gap: 9px;                    
                    .pin-icon {
                        font-size: 18px;

                    }

                    .localisationIcon {
                        // top: -2px;
                    }
                }
            }
        }


        .imageBuilder {
            width: 354px;
            height: 281px;
        }
    }



    .fixedHeaderContainer2 {
        max-height: 75px;
        bottom: 0;
        padding: 0 40px 0 10px;

        .header-buttons {
            .LoadingButton {
                display: none;
            }
        }

        .logoContainer {
            .logoMain {
                width: 73.81px;
                height: 39px;
            }
        }

        .info {
            height: 80%;
            gap: 10px;

            .position {
                gap: 7px;
            }

            .cart-item {
                gap: 7px;
                width: 82px;
                height: 46px;
                font-size: 20px;
            }

            .loggedin-account {
                display: inline-block;
            }
        }
    }
}


@media only screen and (max-width: 992px) {
    .fixedHeaderContainer2 {
        .info {
            .position {
                font-size: 15px;
                gap: 7px;
                width: 337px;
            }


        }
    }

    .head1 {
        .demiCercle {
            // width: 232px;
            // height: 242px;
            top: 39px;
            left: -179px;
        }
    }

    .headerContainer {
        margin-top: -32px;

        .imageBuilder {
            width: 255px;
            height: 208px;
        }


        .headerAppBar2 {
            // margin-left: 44px;

            .headerMessage {

                .headerMessageSyle1,
                .headerMessageSyle2 {
                    font-size: 24.54px;
                }
            }

            .headerLocalisationMessageContainer {
                padding: 5px 8px;

                a {
                    font-size: 13.5px;

                    .localisationIcon {
                        // top: -2px;
                    }
                }
            }

        }
    }

}

@media only screen and (max-width: 768px) {

    .fixedHeaderContainer2 {

        .info {
            gap: 0px;
            .cart-item {
                width: 66px;
                height: 36px;
            }

            .position {
                font-size: 12px;
                gap: 7px;
                width: 264px;

                .position-icon {
                    font-size: 16px;
                }
            }

            .account {
                .account-icon {
                    height: 35px;
                }
            }

            .cart-item {
                font-size: 20px;
                height: 34px;
            }
        }
    }

    .head1 {
        .demiCercle {
            // width: 232px;
            // height: 242px;
            top: 39px;
            left: -170px;
        }
    }

    .headerContainer {
        .imageBuilder {
            width: 191px;
            height: 186px;
        }

        .headerAppBar2 {
            margin-left: 13px;

            .headerMessage {

                .headerMessageSyle1,
                .headerMessageSyle2 {
                    font-size: 18px;
                }
            }

            .headerLocalisationMessageContainer {
                a {
                    font-size: 11px;

                    .localisationIcon {
                        // top: -2px;
                        // font-size: 4.88px;
                    }
                }
            }
        }

    }

    .cart-container {
        width: 304px;
    }
}

@media only screen and (max-width: 576px) {
    .fixedHeaderContainer2 {
        .info {


            .position {
                font-size: 10px;
                gap: 7px;
                width: 239px;
            }
        }
    }

    .cart-container {
        top: 80px;
        right: 10vw;
        width: 273px;
    }

    .fixedHeaderContainer {
        .appBar {
            .LoadingButton {
                width: 60px;
                height: 25px;
                font-size: 6.33px;
                padding: 1px;
            }
        }
    }

    .headerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;

        .imageBuilderContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .imageBuilder {
                background-position: center center;
                background-size: contain;
                width: 177px;
                height: 125px;
            }
        }

        .headerAppBar2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .headerMessage {

                .headerMessageSyle1,
                .headerMessageSyle2 {
                    font-size: 11px;
                }
            }

            .headerLocalisationMessageContainer {
                padding: 0;
                margin: 0px;

                a {
                    font-size: 6.33px;

                    .localisationIcon {
                        // top: -2px;
                    }
                }
            }
        }
    }

    .Switches {
        margin: 4px 0;
    }
}