.title {
  color: var(--green);
  font-family: var(--fontPrimary);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 1rem;
  margin-bottom: 4rem;
  text-align: center;
}
