@import "../../../../scss/extend";

.trie-filter-container {
    padding: 0;
    position: relative;
    margin-bottom: 32px;
    border-bottom: 1px solid $color-gray-alto;
    padding-bottom: 38px;
    &__title {
        color: $dark_Gray;
        font-family: 'Poppins-SemiBold', serif;
        font-size: 17px;
        line-height: normal;
        margin-bottom: 24px;
        transition: all 0.3s ease-in-out;
        &.collapsed {
            margin-bottom: 0;
        }
    }
    &__list {
        transition: all 0.3s ease-in-out;
        list-style: none;
        padding: 0;
        margin: 0;
        &__item {
            .form-check {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-left: 18px;
                margin-bottom: 12px;

                .radio-btn {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    @include dimensions(19px, 19px);
                    border: none;
                    border-radius: 5px;
                    background-color: rgba($color-blue-pelorous, 0.58);

                    &:checked {
                        position: relative;
                        &:after {
                            content: "";
                            @include dimensions(19px, 19px);
                            background-color: $color-blue-eastern;
                            position: absolute;
                            left: 0;
                            top: 0;
                            border-radius: 5px;
                        }
                    }
                }

                .form-label {
                    color: $dark_Gray;
                    font-family: 'Poppins-Medium', serif;
                    font-size: 18px;
                    line-height: normal;
                    margin-bottom: 0;
                }
            }
        }
        &.hide{
            opacity: 0;
            overflow: hidden;
        }       
    }
    &__collapse-icon{
        position: absolute;
        right: 0;
        top: 3px;
        font-size: 21px;
        color: $dark_Gray;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &.open {
            transform: rotate(-90deg);
        }
    }
}

/* # $Mobile ::
------------------------------------*/

@media (max-width: 1440px) {
    .trie-filter-container__title,
    .price-filter-container__title,
    .categories-filter-container__title {
        @include fontSize(14px, 14px);
        margin-bottom: 20px;
    }
    .price-filter-container__container__price {
        @include fontSize(14px, 14px);
    }
    .price-filter-container__container__rang-value {
        @include fontSize(12px, 12px);
    }
}
