@import '../../../../scss/extend';

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.favors-main-container {
    width: 100%;
    height: 100vh;
    animation: fadeIn 1s;
    padding: 0;

    .favors-header {
        margin: 0 0 30px;
        width: 100%;
        padding: 0;

        .cover-img {
            width: 100%;
            height: 350px;
            background-position: center;
            background-repeat: no-repeat;
            object-fit: cover;
            margin-bottom: 86px;
        }
        img {
            width: 100%;
        }
    }

    .favors-main {
        width: 100%;
        background-color: $color-white;
        border-radius: 25px;
        display: block;
        gap: initial;
        margin: 0;
        padding: 35px 40px;

        .favors-main_title-blc {
            margin: 0 0 64px;

            .favors-main_title {
                margin: 0;
                @include fonts(20px, 20px, $dark_Gray);
                font-family: 'Poppins-Bold', serif;
            }
        }
        .favors-wrapper {
            padding: 0 25px;
            .favors-list-desc {
                margin: 0 0 45px;
                @include fonts(16px, 16px, $dark_Gray);
                font-family: 'Poppins-SemiBold', serif;
            }
            .favors-list-area {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 36px;

            }
        }
        .supplier-card-grid-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: start;

            .favors-supplier-card {
                width: 100%;
                height: initial;

                .restaurantLink {
                    .card {
                        .imageContainer {
                            height: 160px;
                        }
                    }
                }
            }
        }
    }
}

/* # $Mobile ::
------------------------------------*/

@media screen and (max-width : 786px) {
    .favors-main-container {
        .favors-header {
            padding-right: 27px;
            .cover-img{
                margin-bottom: 47px;
            }
        }

        .favors-main {
            width: calc(100% - 27px);
        }
    }
}
@media screen and (max-width : 600px) {
    .favors-main-container {
        .favors-header {
            padding-left: 27px;
        }
        
        .favors-main {
            padding-left: 27px;
            width: calc(100% - 27px);
        }
    }
}