@import '../../../scss/extend';
@import '../../../animations';


.messanger-popup-container {
    position: fixed;
    @include dimensions(371px, 572px);
    border-radius: 15px;
    background: $color-white;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 9px 22px 0px #958E8E80;

    .messanger-header {
        @include dimensions(100%, 93px);
        background-color: $primary_color;
        border-radius: 15px 15px 0 0;
        @include flex(flex, center, space-between);
        padding: 18px 30px;
        position: relative;

        .messanger-logo-container {
            @include flex;
            gap: 8px;
            color: $color-white;
            font-family: 'Poppins-Medium', serif;
            font-size: 15px;
            line-height: normal;

            p {
                margin: 0;
                @include fonts(15px, 15px, $color-white);
                font-family: 'Poppins-Medium', serif;
            }
            .messanger-logo {
                @include dimensions(58px, 58px);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center;
                object-fit: cover;
            }
        }
        .messanger-header-icons {
            @include flex(flex, center, space-between);
            gap: 15px;

            .setting-icon-container {
                @include dimensions(34px, 34px);
                border-radius: 50%;
                @include flex;

                &:hover {
                    cursor: pointer;
                }
                .setting-icon {
                    @include dimensions(19px, 4px);
                    transform: rotate(-90deg);
                }
            }
            .arrow-icon {
                @include dimensions(28px, 28px);
                font-size: 18px;
                transform: rotate(180deg);
                color: $color-white;

                &:hover {
                    cursor: pointer;
                }
            }
        }
        .messanger-settings {
            position: absolute;
            top: 59px;
            right: 31px;
            @include flex;
            gap: 13px;
            height: 53px;
            border-radius: 7px;
            background-color: $color-white;
            box-shadow: 0px 1px 1px 0px $Off-White;
            padding: 17px;
            color: $light_Gray;
            font-family: 'Poppins-Medium', serif;
            font-size: 11px;
            line-height: normal;
            animation: $messangerSettingAnimation 1s;

            p {
                margin: 0;
            }
        }
        .btns-group {
            .btn-more-blc {
                position: relative;

                .btn {
                    &.btn-more {
                        @include dimensions(4px, 20px);
                        background-image: url('./../../../assets/chat-hamburg-icn.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 4px auto;
                    }
                }
                .active-notifs {
                    @include flex(flex, center, flex-start);
                    position: absolute;
                    top: 27px;
                    right: 0;
                    
                    .btn {
                        &.btn-notifs {
                            @include fonts(11px, 11px, $light_Gray);
                            @include dimensions(194px, 53px);
                            box-shadow: 0 1px 1px 0 $Off-White;
                            border-radius: 7px;
                            background-color: $color-white;
                            background-image: url('./../../../assets/notif-icn-1.svg');
                            background-repeat: no-repeat;
                            background-position: 17px center;
                            background-size: 17px auto;
                            padding: 3px 0 3px 47px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .messsanger-body {
        border-radius: 15px;

        .wave-container {
            padding: 14px 30px 20px 40px;
            background-size: cover;
            display: flex;

            p {
                color: $color-white;
                font-family: 'Poppins-Medium', serif;
                font-size: 14px;
                line-height: normal;
                margin: 0;
            }
        }
        .messages-box {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .canal-section {
                position: relative;
                max-width: 100%;
                height: 300px;
                overflow-y: scroll;
                flex-direction: column;
                @include flex(flex, start, start);
                gap: 15px;
                padding: 15px 0;

                &::-webkit-scrollbar {
                    width: 0;
                }
                .older-messages-btn {
                    @include flex;
                    gap: 7px;
                    border-radius: 12.5px;
                    border: 1px solid $color-gray-alto;
                    background-color: transparent;
                    padding: 6px 14px 4px 10px;
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: $light_Gray;
                    font-family: 'Poppins-Medium', serif;
                    font-size: 10px;
                    line-height: normal;

                    .time-icon {
                        @include dimensions(12px, 12px);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
                .admin-message-container,
                .client-message {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    flex-direction: column;
                    padding: 0 15px;
                    gap: 13px;

                    p {
                        margin: 0;
                        display: inline-block;
                        padding: 15px;
                        border-radius: 10px;
                        overflow-x: hidden;
                        overflow-wrap: break-word;
                    }

                    .full-messages-date {
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        border-radius: 12.5px;
                        border: 1px solid $color-gray-alto;
                    }
                }

                .admin-message-container {
                    align-items: start;
                    border-radius: 8px 15px 15px 15px;

                    .admin-message {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;

                        .message-logo-container {
                            @include flex;

                            .thunder-message-logo {
                                @include dimensions(30px, 33px);
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }
                        }

                        .admin-message-container2 {
                            @include flex(flex, center, start);
                            gap: 10px;

                            p {
                                background-color: $primary_color;
                                justify-content: end;
                                max-width: 150px;
                            }
                        }

                    }
                }

                .client-message {
                    border-radius: 15px 15px 8px 15px;
                    align-items: end;

                    .client-message-container {
                        display: flex;
                        justify-content: end;

                        p {

                            background-color: whitesmoke;
                            justify-content: end;
                            max-width: 150px;
                        }
                        span {
                            @include flex;
                            width: 50px;
                        }
                    }
                }
            }
            .input-section {
                @include dimensions(123px, 80%);
                margin: 0 auto;

                .input {
                    @include dimensions;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    vertical-align: top;
                    border: none;
                    border-top: 1px solid $color-gray-alto;
                    padding-top: 22px;
                    font-family: 'Poppins-Medium', serif;
                    font-size: 15px;
                    line-height: normal;

                    &::placeholder {
                        color: $color-gray-silver-2;
                        font-family: 'Poppins-Medium', serif;
                        font-size: 15px;
                        line-height: normal;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }

    }
}

/* # $Mobile ::
------------------------------------*/

@media (max-width: 1440px) {
    .messanger-popup-container {
        height: 450px;
        bottom: 85px;
        right: 25px;

        .messanger-header {
            height: 75px;
            padding: 15px 20px;

            .messanger-logo-container {
                font-size: 13px;

                .messanger-logo {
                    @include dimensions(47px, 47px);
                }
            }
        }
        .messsanger-body {
            .wave-container {
                padding: 15px 20px;

                p {
                    font-size: 12px;
                }
            }
            .messages-box {
                .input-section {
                    @include dimensions(100%, 80px);
                }
                .canal-section {
                    height: 220px;
                }
            }
        }
    }
}
