@import '../../scss/extend';


@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-200%);
    }

    75% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-400%);
    }
}

.footerContainer {
    height: 363px;
    width: 100%;
    background-color: $color-gray-gallery;

    .bodyRow {
        position: relative;
        padding-bottom: 37px;
        padding-top: 100px;
        display: flex;

        .demi-cerlce-container {
            position: absolute;
            overflow: hidden;
            top: -27px;
            right: 0;
            width: 103px;
            .demi-cercle {
                z-index: 20;
                height: 390.35px;
                width: 417.35px;
                border-radius: 500px;
                background: linear-gradient(180deg, $orange_color 0%, $orange_color 100%);
            }
        }
        .footerLogoCol {
            display: flex;
            justify-content: center;
            flex: 1;

            .webifyIcon {
                width: 77px;
                height: 119.64px;
            }
        }

        .footerContacteEmailCol,
        .footerContacteTelCol {

            font-size: 14px;
            display: flex;
            justify-content: center;
            flex: 1;
        }

        .footerPubsCol {
            flex: 1;

            .bottom-to-top-scroll-carousel-container {
                height: 156px;
                overflow-y: hidden;
                padding: 5px;

                .bottom-to-top-scroll-carousel-item {
                    width: 100%;
                    height: 47px;
                    margin-bottom: 10px;
                }
            }
            .pubsImage {
                width: 76px;
                height: 50px;
            }
        }
        .footerTitle {
            font-family: 'Poppins-Bold', serif;
            @include fonts(18px, 18px, $dark_Gray);
            margin: 0 0 20px;
            text-transform: capitalize;
        }
        .FooterText {
            font-family: 'Poppins-SemiBold', serif;
            @include fonts(18px, 18px, $light_Gray);
            display: flex;
            align-items: center;

            span {
                font-size: 18px;
                color: $orange_color;
            }
        }
        .socialMedia {
            color: $color-white;
            width: 100%;
            @include flex(flex, center, space-around);
            margin-top: 10px;

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 9px;
                background-color: $orange_color ;
                border-radius: 50%;
                transition: background-color 250ms ease-in-out;

                .icon {
                    width: 23px;
                    height: 23px;

                }

                &:hover {
                    background-color: $orange_color_001 ;
                    cursor: pointer;
                }
            }
        }
    }
    .footerRightReserverCol {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary_color_001;
        color: $color-white;
        height: 54px;

        p {
            margin: 0;
            color: $color-white;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

}

@media only screen and (max-width:1200px) {
    .footerContainer {
        .bodyRow {
            .demi-cerlce-container {
                top: -35px;
                right: 4px;
                width: 3vw;

                .demi-cercle {
                    height: 542.415px;
                }
            }
            .footerTitle {
                font-size: 1.5rem;
                line-height: 33px
            }
        }
    }
}

@media only screen and (max-width:991px) {
    .footerContainer {
        .bodyRow {
            .demi-cerlce-container {
                right: 0;
            }

            .footerTitle {
                font-size: 1.5rem;
                line-height: 33px
            }

        }
    }
}

@media only screen and (max-width:768px) {
    .footerContainer {
        .bodyRow {
            .demi-cerlce-container {
                top: -61px;

                .demi-cercle {
                    height: 599.415px;
                    width: 599.415px;
                }
            }
            .footerTitle {
                font-size: 1.5rem;
                margin: 0;
            }
            .FooterText {
                font-size: 1rem;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .footerContainer {
        height: 222px;

        .bodyRow {
            padding: 20px 0;

            .demi-cerlce-container {
                .demi-cercle {
                    top: -119px;
                }
            }
            .footerLogoCol {
                .webifyIcon {
                    height: 65px;
                    width: 37px;
                }
            }
            .footerTitle {
                font-size: 0.5rem;
                line-height: 15px;
            }
            .FooterText {
                font-size: 0.5rem;
                line-height: 21px;

                .icon {
                    font-size: 0.7rem;
                }
            }
            .webifyIcon {
                height: 10%;
                width: 10%;
            }
            .socialMedia {
                .icons {
                    padding: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    .icon {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
            .footerContacteEmailCol,
            .footerContacteTelCol {
                font-size: 14px;
            }
        }

        .footerRightReserverCol {
            height: 15px;

            p {
                font-size: 7px;
            }
        }
    }
}

@media only screen and (max-width:500px) {
    .footerContainer {
        .bodyRow {


            .footerLogoCol {
                .webifyIcon {
                    height: 65px;
                    width: 37px;
                }
            }



            .footerTitle {
                font-size: 0.5rem;
                line-height: 15px;
            }

            .FooterText {
                font-size: 0.5rem;
                line-height: 21px;

                .icon {
                    font-size: 0.7rem;
                }
            }

            .webifyIcon {
                height: 10%;
                width: 10%;
            }

            .socialMedia {
                .icons {
                    padding: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    .icon {
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .footerContacteEmailCol,
            .footerContacteTelCol {
                font-size: 14px;
            }
        }

        .footerRightReserverCol {
            height: 15px;

            p {
                font-size: 7px;
            }
        }
    }
}