@import '../../colors';


@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(-200%);
    }

    75% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-400%);
    }
}

.footerContainer {
    // height: 100%;
    height: 363px;
    width: 100vw;
    background-color: $Off-White;
    overflow: hidden;
    .bodyRow {
        position: relative;
        padding-bottom: 37px;
        padding-top: 102px;
        display: flex;

        .demi-cercle {
            position: absolute;
            top: -11px;
            right: -470px;
            width: 532px;
            height: 384.415px;
            border-radius: 500px;
            background: linear-gradient(180deg, #FBC000 0%, #FBC000 100%);

        }

        .footerLogoCol {
            display: flex;
            justify-content: center;
            flex: 1;

            .webifyIcon {
                width: 77px;
                height: 119.64px;
            }
        }

        .footerContacteEmailCol,
        .footerContacteTelCol {

            font-size: 14px;
            display: flex;
            justify-content: center;
            flex: 1;
        }

        .footerPubsCol {
            flex: 1;

            .bottom-to-top-scroll-carousel-container {
                height: 156px;
                overflow-y: hidden;
                padding: 5px;

                .bottom-to-top-scroll-carousel-item {
                    width: 100%;
                    height: 47px;
                    margin-bottom: 10px;
                }
            }



            .pubsImage {
                width: 76px;
                height: 50px;
                // margin-bottom: 5px;

            }
        }

        .footerTitle {
            color: $dark_Gray;
            font-family: Poppins;
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 700;
            line-height: 33px;

            span {
                margin-right: 4px;
                color: $orange_color;
            }
        }

        .FooterText {
            color: $light_Gray;
            font-family: Poppins;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 33px;
            display: flex;
            align-items: center;

            span {
                color: $orange_color;
            }
        }

        .socialMedia {

            color: white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 10px;

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 9px;
                background-color: $orange_color ;
                border-radius: 50%;
                transition: background-color 250ms ease-in-out;

                .icon {
                    width: 23px;
                    height: 23px;

                }

                &:hover {
                    background-color: $orange_color_001 ;
                    cursor: pointer;
                }
            }
        }


    }

    .footerRightReserverCol {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary_color_001;
        color: white;

        height: 54px;

        p {
            margin: 0;
            color: #FFF;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

}

@media only screen and (max-width:991px) {
    .footerContainer {
        .bodyRow {
            .demi-cercle {
                top: -30px;
                right: -470px;
                width: 502px;
                height: 437.415px;
            }

            .footerTitle {
                font-size: 1.5rem;
                line-height: 33px
            }

        }
    }
}

@media only screen and (max-width:768px) {
    .footerContainer {
        .bodyRow {


            .footerTitle {
                font-size: 1.5rem;
                margin: 0;
            }

            .FooterText {
                font-size: 1rem;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .footerContainer {
        height: 222px;

        .bodyRow {
            padding: 20px 0;

            .demi-cercle {

                top: -24px;
                right: -470px;
                width: 499px;
                height: 249.415px;

            }

            .footerLogoCol {
                .webifyIcon {
                    height: 65px;
                    width: 37px;
                }
            }



            .footerTitle {
                font-size: 0.5rem;
                line-height: 15px;
            }

            .FooterText {
                font-size: 0.5rem;
                line-height: 21px;

                .icon {
                    font-size: 0.7rem;
                }
            }

            .webifyIcon {
                height: 10%;
                width: 10%;
            }

            .socialMedia {
                .icons {
                    padding: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    .icon {
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .footerContacteEmailCol,
            .footerContacteTelCol {
                font-size: 14px;
            }
        }

        .footerRightReserverCol {
            height: 15px;

            p {
                font-size: 7px;
            }
        }
    }
}

@media only screen and (max-width:400px) {
    .footerContainer {
        .bodyRow {
            .demi-cercle {
                top: -22px;
                right: -201px;
                width: 217px;
                height: 241.415px;
            }

            .footerLogoCol {
                .webifyIcon {
                    height: 65px;
                    width: 37px;
                }
            }



            .footerTitle {
                font-size: 0.5rem;
                line-height: 15px;
            }

            .FooterText {
                font-size: 0.5rem;
                line-height: 21px;

                .icon {
                    font-size: 0.7rem;
                }
            }

            .webifyIcon {
                height: 10%;
                width: 10%;
            }

            .socialMedia {
                .icons {
                    padding: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    .icon {
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            .footerContacteEmailCol,
            .footerContacteTelCol {
                font-size: 14px;
            }
        }

        .footerRightReserverCol {
            height: 15px;

            p {
                font-size: 7px;
            }
        }
    }
}