@import '../../scss/extend';
.restaurant-list{
    margin-bottom: 37px;
    margin-inline: -10px;
    .prev-arrow{
        display: block;
        width: 45px;
        height: 45px;
        background-color: $color-white;
        border-radius: 50%;
        box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.25);
        z-index: 9;
        left: -12px;
        top: 41%;
        background-image: url("/src/assets/icons/arrow-prev.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        transition: all 0.2s ease-in-out;
        &::before {
            display: none;
        }
        &:hover{
            left: -14px;
        }
    }
    .next-arrow {
        display: block;
        width: 45px;
        height: 45px;
        background-color: $color-white;
        border-radius: 50%;
        box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.25);
        background-image: url("/src/assets/icons/arrow-next.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        right: -12px;
        top: 41%;
        transition: all 0.2s ease-in-out;
        &::before{
            display: none;
        }
        &:hover {
            right: -14px;
        }
    }
    .slick-list{
        padding-left: 0 !important;
    }
    &__column{
        @media(max-width: 1400px){
            width: 50%;
        }
    }
}