@import '../../../../../colors';


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.old-command-info-container {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    .devider {
        width: 1px;
        height: 84px;
        background-color: #D9D9D9;
    }

    .supplier-info {
        display: flex;
        flex: 1;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 27px;

            .logo-img {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 73.394px;
                height: 73.394px;
                border-radius: 50%;
            }

            .name-rate {
                display: flex;
                flex-direction: column;
                gap: 15px;
                color: #484848;
                font-family: Poppins;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                .supplier-rates {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 5px;
                    font-size: 14px;

                    .star-icon {
                        color: gold;

                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .command-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 53px;
        padding-right: 37px;


        .start {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            img {
                width: 34px;
                height: 34px;
            }

            .info {
                .supplier-name {
                    color: #484848;
                    font-size: 15px;
                    margin: 0;

                }

                .supplier-position {
                    color: #958E8E;
                    font-size: 13px;
                    margin: 0;

                }
            }
        }

        .delay {
            display: flex;
            align-items: center;
            gap: 10px;
            border-left: #FBC000 dashed 3px;
            padding-left: 27px;
            margin-left: 15px;
            height: 56px;

            .time-icon {
                width: 16px;
                height: 16px;
            }

            .meduim-time {
                color: #FBC000;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;

                span {
                    color: #484848;
                    font-family: Poppins;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
        }

        .end {
            display: flex;
            align-items: start;
            gap: 10px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            img {
                width: 34px;
                height: 34px;
            }

            .info {
                .deliv-type {
                    color: #484848;
                    font-size: 15px;
                    margin: 0;
                }

                .supplier-position {
                    color: #958E8E;
                    font-size: 13px;
                    margin: 0;

                }
            }
        }
    }
}

.delivery-info {
    display: flex;
    flex: 1;
    padding-left: 40px;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;

        .logo-img {
            background-position: center;
            background-repeat: no-repeat;
            object-fit: cover;
            width: 102.369px;
            height: 76.667px;
            border-radius: 8px;
            background-color: #5DBDBC;
        }

        .name-rate {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 5px;
            color: #484848;
            font-family: Poppins;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            .supplier-Title {
                color: #FBC000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            // .supplier-name {}

            .supplier-rates {
                color: #FBC000;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                display: flex;
                align-items: center;

                .star-icon {
                    color: gold;
                    width: 18px;
                    height: 18px;

                    width: 20px;
                    height: 20px;
                }
            }
        }
    }


}


.old-commands-product-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;

    img {
        width: 142px;
        height: 107.544px;
        border-radius: 20px;
        margin-bottom: 8px;
    }

    .product-info {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #D9D9D9;
        display: flex;
        justify-content: space-between;
        align-items: center;



        .description,
        .name,
        .qt,
        .price {
            color: #484848;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            margin: 0;
        }

        .description {
            width: 200px;

            p {
                margin: 0;
            }
        }
    }
}

.command-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    p {
        color: #24A6A4;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
    }

    .avis {
        width: 270px;
        height: 69px;

        border-radius: 50px;
        background-color: #FBC000;
        border: none;

        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}




@media only screen and (max-width : 1200px) {
    .commands-List {

        .old-command-info-container {
            .delivery-info {
                padding: 0 0 0 19px;
                gap: 16px;
            }

            .command-info {
                padding-left: 20px;
                padding-right: 37px;
            }

            .supplier-info {
                .logo {
                    gap: 8px;
                }

            }
        }

        .command-footer {
            padding-right: 41px;
        }
    }

    .old-commands-product-container {
        .product-info {
            .description {
                color: #484848;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                margin: 0;

                p {
                    overflow-wrap: break-word;
                }
            }
        }
    }
}

@media only screen and (max-width : 900px) {
    .commands-List {

        .old-command-info-container {
            .delivery-info {
                .logo {
                    flex-direction: column;
                    gap: 8px;

                    .name-rate {
                        text-align: center;
                    }
                }
            }

            .command-info {
                padding-left: 20px;
                padding-right: 37px;

            }

            .supplier-info {

                .logo {
                    flex-direction: column;
                    gap: 8px;

                    .name-rate {
                        text-align: center;
                    }
                }

            }
        }

        .command-footer {
            padding-right: 41px;
        }
    }

    .old-commands-product-container {
        .product-info {
            .description {
                color: #484848;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                margin: 0;
                width: 100px;

                p {
                    overflow-wrap: break-word;
                }
            }
        }
    }
}

@media only screen and (max-width : 768px) {
    .commands-List {

        .old-command-info-container {
            .delivery-info {
                .logo {
                    flex-direction: column;
                    gap: 8px;

                    .name-rate {
                        font-size: 13px;
                    }
                }
            }

            .command-info {
                padding-left: 20px;
                padding-right: 37px;

                .end {
                    .info {
                        .supplier-position {
                            font-size: 9px;
                        }
                    }
                }

                .start {
                    align-items: end;

                    .info {
                        .supplier-position {
                            font-size: 9px;
                        }
                    }
                }
            }

            .supplier-info {

                .logo {
                    flex-direction: column;
                    gap: 8px;

                    .name-rate {
                        font-size: 13px;
                    }
                }

            }
        }

        .command-footer {
            padding-right: 0;

            p {
                font-size: 20px;
            }

            .avis {
                width: 172px;
                height: 45px;
                font-size: 15px;
            }
        }
    }

    .old-commands-product-container {
        gap: 4px;

        .product-info {
            gap: 3px;

            .qt,
            .price,
            .name {
                font-size: 13px;
            }
        }
    }
}