@import "../../../../scss/extend";

.search-filter-container {
    &__input{
        position: relative;
        .search-input{
            width: 100%;
            line-height: 33px;
            padding:14px 88px;
            color: $color-white;            
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            box-shadow: 0px 1px 3.7px 8px rgba(0, 0, 0, 0.05);
            border-radius: 43.5px;
            background: $color-blue-eastern;
            border: none;
            &:focus{
                border: none;
                outline: none;
            }
            &::placeholder{
                color: $color-white;
            }
        }
        .text-search-icon{
            color: $color-white;
            position: absolute;
            left: 32px;
            top: 16px;
            font-size: 26px;
        }       
        .search-icon{
            display: inline-block;
            width: 42px;
            height: 42px;
            background-color: $color-white;
            border-radius: 50px;
            position: absolute;
            top: 7px;
            right: 7px;
            background-image: url("/src/assets/icons/arrow-2.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25px;
        }
    }
   
}

