.containerr {
  max-width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 0 0 1rem 1rem;
}

.box-inner {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #0f0f0f;
}

.box-inner h3 {
  margin-left: 0.5rem;
}

.map-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.content {
  padding: 4px;
}

.ad-carousel {
  max-width: 1000px;
  margin: 5rem;
}

.ad-carousel img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.faq-list {
  position: relative;
  z-index: 1;
}

/* Mes adresses de livraison */
.text-message {
  position: absolute;
  width: 321px;
  height: 21px;
  left: 440px;
  top: 383px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #343333;
}

.loading-skeleton {
  width: 20vw;
  line-height: 4;

  height: 20px;
}

.skeleton-container {
  width: 80vw;
  margin: 10px auto;
  /* height: 500px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
