@use '../../colors';


.homePageContainer {
  margin: 0 35px;
}

.loadingSkeleton {
  width: 20vw;
  line-height: 4;
  height: 20px;
}

.skeletonContainer {
  width: 80vw;
  height: 100vh;
  margin: 100px auto 0 auto;
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.homePromoContainer {
  margin-bottom: 2vw;
}