$primary_color : #2EB5B2;
$primary_color_001: #30c5c5;
$primary_color_002 : #2eb5b3a1;
$Ocean_Teal : #24A6A4;

$orange_color : #FBC000;
$orange_color_001 : #ffcf32;
$white_001 : #fffefe;
$Off-White : #F7F7F7;
$dark_Gray: #484848;
$Sunlit_Cream : #FDE08387;

$light_beige : #f5e9c4;
$Buttercream :#FFF4D1;
$Warm_Vanilla: #FEF4D3;
$light_Gray: #958E8E;
$Light_yellow : #FFEDB0;
$Light_Blue : #8ACDCC;