/* Set the width and height of the scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track style */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle style */
::-webkit-scrollbar-thumb {
  background: #9f9f9f;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #15808a;
}
