@import "../../colors";

.cart-page-container {
  .header {
    height: 350px;

    .image-container {
      height: 300px;
      position: relative;
      padding: 0;    


      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 177px;
      }

      span {
        position: absolute;
        top: 50%;
        left: 40vw;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: white;
      }
    }
  }
  .btn-back{
    color: #24A6A4;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 39px;
    margin-bottom: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='16' viewBox='0 0 39 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.14384 9.96773C7.72471 10.5331 8.225 11.0197 8.72529 11.5075C9.0812 11.8552 9.43822 12.2008 9.79189 12.5518C10.6548 13.4103 10.6973 14.6088 9.89374 15.4082C9.07784 16.2208 7.8344 16.1978 6.94574 15.3317C4.99496 13.4322 3.05425 11.5239 1.10906 9.61889C0.902007 9.41548 0.690479 9.21645 0.486781 9.00977C-0.16124 8.35472 -0.164601 7.63406 0.492377 6.98557C1.91041 5.58909 3.33517 4.20025 4.75657 2.80705C5.48741 2.09185 6.21378 1.37228 6.95022 0.661464C7.83887 -0.196988 9.08791 -0.222141 9.89934 0.592568C10.6996 1.39634 10.6548 2.59489 9.78742 3.44897C8.94129 4.28227 8.09069 5.1112 7.15391 6.02761C7.40238 6.02761 7.55571 6.02761 7.71016 6.02761C17.4148 6.02761 27.1206 6.0276 36.8253 6.0276C37.9053 6.0276 38.6809 6.57111 38.9317 7.49408C39.2585 8.69482 38.3743 9.89227 37.1107 9.96336C36.9574 9.97211 36.804 9.96773 36.6496 9.96773C27.0143 9.96773 17.379 9.96773 7.74374 9.96773C7.58257 9.96773 7.42141 9.96773 7.14384 9.96773Z' fill='%2324A6A4'/%3E%3C/svg%3E");
  }
  main {
    display: flex;
    justify-content: space-between;
    gap: 61px;
    padding: 10px 0 129px 0;
    position: relative;    
    .product-detail-container {
      // max-width: 632px;
      // height: 618px;
      // overflow-y: scroll;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: start;
      background: $Off-White;
      padding-bottom: 15px;
      width: 100%;
      box-shadow: 6px 4px 23px 0px rgba(121, 121, 121, 0.25);
      padding: 28px;
      &::-webkit-scrollbar {
        width: 0rem;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      .card-paiment{
        padding: 0;
        width: 100%;
      }
      table {
        width: 100%;
        z-index: 1;
        thead {
          height: 53px;
          border-radius: 15px;
          // background-color: $orange_color;
          position: relative;
          z-index: 0;
          // &:after{
          //   content: "";
          //   width: 100%;
          //   height: 100%;
          //   background-color: #FBC000;
          //   position: absolute;
          //   left: 0;
          //   top: 0;
          //   z-index: -1;
          //   border-radius: 15px 15px 0px 0px;
          // }
          td {
            color: #484848;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 149.5%;
          }

          .header-name {
            text-align: start;
            padding-left: 15px;
          }
        }

        tbody {
          td {
            text-align: center;
            vertical-align: baseline;
          }

          .ariticle-info-container {            
            .image-container{
              // margin-top: 25px;
              // margin-bottom: 25px;  
            }          
            .sous-total {
              color: $Ocean_Teal;
              font-family: Poppins;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            .image-container {
              display: flex;
              align-items: self-start;
              justify-content: center;
              gap: 15px;
              padding-left: 21px;

              .info-text {
                display: flex;
                flex-direction: column;
                align-items: start;
                // max-width: 104px;
                gap: 2px;
                width: calc(100% - 115px);
                .title {
                  color: $dark_Gray;
                  font-family: Poppins;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 20px;
                  // margin-top: 45px;
                  text-align: start;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  width: 100%;
                }

                .description {
                  // width: 99px;
                  color: $dark_Gray;
                  font-family: Poppins;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 20px;
                  text-align: start;

                  p {
                    margin: 0;
                    text-align: start;
                  }
                }
              }
              .supplier-name{
                color: #24A6A4;
                font-family: Poppins;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: 149.5%; 
                text-align: start;                
              }

              img {
                width: 69px;
                height: 61.517px;
                // margin-top: 45px;
                object-fit: cover;
              }
            }
            button {
              width: 34px;
              height: 34px;
              color: white;
              border-radius: 50%;
              font-size: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              margin-right: 5px;
              margin-left: 5px;
            }
            .remove-btn {
              background-color: $orange_color;
              font-weight: 600;
              padding: 0;
              .close-icon{
                font-size: 18px;
              }
            }
            .quantite {
              display: flex;
              justify-content: center;
              align-items: center;

              .count-container {
                position: relative;
                border: 1px solid $orange_color;
                border-radius: 55px;
                width: 71px;
                height: 41.621px;
                display: flex;
                background-color: white;
                justify-content: space-between;
                padding: 5px 15px;
                .count-buttons {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  width: 6px;
                  gap: 5px;
                  button {
                    .count-more,
                    .count-less {
                      width: 14px;
                      height: 14px;
                      color: $light_Gray;
                    }
                  }
                }


                input[type="number"] {
                  width: 70%;
                  outline: none;
                  background-color: transparent;
                  border: none;
                  color: $light_Gray;
                  font-family: Poppins;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  text-align: start;
                  appearance: none;
                  /* Remove default styling */
                  -webkit-appearance: none;

                  &:hover {
                    cursor: auto;
                  }
                }

                /* Remove the increment and decrement arrows in WebKit browsers */
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
            }
            .total-price{
              color: $Ocean_Teal;
              font-family: Poppins;
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              vertical-align: baseline;
            }
            td:first-child{
              width: 35%;
            }
          }
        }
      }

      .devider {
        width: 100%;
        height: 1px;
        // margin-top: 10px;
        background-color: #EBEBEB;
      }


      .commentaire-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        gap: 10px;
        width: 100%;
        textarea {
          border-radius: 10px;
          border: 1px solid #888;
          background: #FFF;
          color: #484848;
          font-family: Poppins;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          width: calc(83% - 25px);
          height: 75px;
          padding:26px;
          &::placeholder {
            font-style: italic;
          }
          &:focus{
            outline:none;
          }
        }
        span {
          color: #24A6A4;
          font-family: Poppins;
          font-size: 17px;
          font-weight: 500;
          width: 17%;
          margin-right: 25px;
          display: inline-block;
        }
      }
      .promo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        gap: 10px;
        width: 100%;
        textarea {
          border-radius: 10px;
          border: 1px solid #888;
          background: #FFF;
          color: #484848;
          font-family: Poppins;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          width: calc(64% - 25px);
          height: 75px;
          padding:26px;
          margin-right: 15px;
          &::placeholder {
            font-style: italic;
          }
          &:focus{
            outline:none;
          }
        }
        span {
          color: #24A6A4;
          font-family: Poppins;
          font-size: 17px;
          font-weight: 500;
          width: 17%;
          margin-right: 25px;
          display: inline-block;
        }

      }

      .promos-list {
        width: 100%;
        margin-top: 30px;

        ul {
          margin-bottom: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
          padding: 0;
          margin-left: calc(17% + 35px);
          width: calc(64% - 25px);
          gap: 10px;  
        }

        .promo-button {
          background-color: #E0E0E0;
          min-width: 87px;
          height: 34px;
          text-align: center;
          border-radius: 10px;
          transition: all 0.3s ease-in;
          color: #484848;
          font-family: Poppins;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: -0.39px;            
          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }

        .selected {
          opacity: 0.7;
        }

      }

      .promo-container {
        margin: 30px 0;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        .button {
          min-width: 143px;
          height: 43px;
          text-align: center;
          background-color: $orange_color;
          border-radius: 55px;
          color: white;
          font-family: Poppins;
          font-size: 17px;
          font-weight: 500;
          padding-inline: 36px;
          &:hover {
            cursor: pointer;
          }
        }

        .disabled {
          opacity: 0.5;

          &:hover {
            cursor: default;
          }
        }

        input[type='text'] {
          padding: 20px;
          width: 222px;
          height: 43px;
          outline: none;
          border-radius: 55px;
          border: 1px solid $orange_color;
          background: #FFF;

          font-size: 14px;

          &::placeholder {
            color: $orange_color;
            font-family: Poppins;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: center;
          }
        }
      }

      .bonus {
        margin: 27px 0;
        display: flex;
        gap: 15px;

        span {
          width: 222px;
          height: 43px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $orange_color;
          font-family: Poppins;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        .button {
          width: 173px;
          height: 43px;
          text-align: center;
          border-radius: 55px;
          background: $Ocean_Teal;
          color: #FFF;
          font-family: Poppins;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          &:hover {
            cursor: pointer;
          }
        }

        .disabled {
          opacity: 0.5;

          &:hover {
            cursor: default;
          }
        }
      }

      .bonus-message {
        width: 425px;
        height: 52px;
        color: $dark_Gray;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
      }
    }

    .paiment-container {
      display: flex;
      flex-direction: column;
      gap: 37px;
      margin-bottom: 50px;
      width: 100%;
      // padding: 0 27px;

      .title {
        color: $orange_color;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        // margin-top: 35px;
      }

      .method {
        display: flex;
        justify-content: start;
        align-items: center;

        label {
          color: $light_Gray;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin: 0 auto 0 40px;

          &:hover {
            cursor: pointer;
          }
        }

        .icon {
          width: 27px;
          color: $Ocean_Teal;
        }
        .cart{
          width: 26px;
          color: $Ocean_Teal;

        }

        .form-check-input[type="radio"] {
          font-size: 20px;
          background-color: transparent;
          border: 2px solid #D9D9D9;
          &:focus{
            box-shadow: none;
          }
        }

        .form-check-input[type="radio"]:checked~.form-check-label {
          color: $Ocean_Teal;
        }

        .form-check-input[type="radio"]:checked {
          background-color: transparent;
          border-color: #8AC8C7;
          background-size: 13px;
          background-position: center;
          --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Ccircle cx='6' cy='6' r='6' fill='%232EB5B2'/%3E%3C/svg%3E");
          &:focus{
            box-shadow: none;
          }
        }
      }

    }

    .deliv-details {
      display: flex;
      justify-content: space-between;
      padding: 15px 0 15px 0;
      width: 100%;

      .select {
        cursor: pointer;
        padding: 10px 10px 15px 10px;
        min-width: 158px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        border-radius: 50px;
        position: relative;

        transition: background-color ease-in-out 0.5s;

        label {
          cursor: pointer;
          color: $light_Gray;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          transition: all ease-in-out 0.5s;
        }

        input[type="radio"] {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          position: absolute;
          top: 0;
          right: 0;
        }

        .icon1,
        .icon3 {
          width: 51px;
          height: 51px;
        }


        .icon2 {
          width: 51px;
          height: 51px;
        }

        .icon3 {
          width: 63px;
          height: 63px;
        }

      }

      .selected {
        background-color: white;
        border: none;
      }
    }

    .time-picker {
      width: 95%;
      text-align: center;
      font-size: 18px;
      color: $Ocean_Teal;
      outline: none;
      border: none;

      .react-time-picker__clear-button {
        display: none;
      }

      .react-time-picker__inputGroup__input {
        &:focus {
          border: none;
          outline: none;
        }
      }
    }

    .deliv-to {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;
      // padding: 0 25px;
      margin-top: 60px;
      margin-bottom: 20px;

      .title {
        color: $Ocean_Teal;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .adress-text {
        color: $light_Gray;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .adress {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }



      .info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px $light_Gray;

        label {
          color: $light_Gray;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        input[type='text'] {
          width: 70%;
          height: 30px;
          font-size: 16px;
          border: none;
          color: $light_Gray;
          background-color: transparent;
          text-align: center;
          outline: none;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      button {
        min-width: 143px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins;
        font-size: 17px;
        font-weight: 500;
        border-radius: 55px;
        padding-inline: 36px;
        &:hover {
          cursor: pointer;
        }
        &.commander{
          color:white;
          background: #FBC000;
        }
        &.cancel{
          border: 1px solid #FBC000;
          color: #FBC000;
        }
      }
      

      .continue {
        // background-color: white;
        border-radius: 55px;
        border: 1px solid $orange_color;
        color: $orange_color;
      }
    }

    .summair-container {
      max-width: 382px;
      // height: 482px;
      // height: fit-content;
      border-radius: 15px;
      // border: 1px solid $orange_color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 20px;
      gap: 10px;
      background: $Off-White;
      box-shadow: 6px 4px 23px 0px rgba(121, 121, 121, 0.25);

      span {
        color: $dark_Gray;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .info {
        width: 341px;
        // height: 391px;
        border-radius: 15px;        
        padding: 22px;
        height: 100%;

        .sous-total {
          display: flex;
          justify-content: space-between;
          padding-bottom: 28px;
          margin-bottom: 16px;
          border-bottom: solid 1px black;

          span {
            color: $dark_Gray;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          .value {
            color: $Ocean_Teal;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }

        .panier {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding-bottom: 22px;
          margin-bottom: 12px;
          border-bottom: solid 1px black;

          span {
            color: $dark_Gray;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }


          .panie-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
              color: $Ocean_Teal;
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

        }

        .a-payer {
          display: flex;
          justify-content: space-between;
          margin-bottom: 22px;

          span {
            color: $dark_Gray;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          .value {
            color: $Ocean_Teal;
          }
        }

        .button-container {
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            width: 216px;
            height: 43px;
            text-align: center;
            border-radius: 55px;
            background: $orange_color;
            color: #FFF;
            font-family: Poppins;
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            &:hover {
              cursor: pointer;
            }
          }
        }

      }

    }
  }
}

.noDataFound {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 196px;

  margin: 105px 0 0 auto;

  .empty-container-tab {
    width: 100%;
    flex-shrink: 0;
    border-radius: 0px 0px 15px 15px;
    background: $Off-White;

    .empty-header {
      width: 100%;
      height: 21px;
      background-color: $Ocean_Teal;
    }


    p {
      margin: 17px auto 21px 34px;
      color: $dark_Gray;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
    }
  }

  img {
    margin: 100px 0 50px 0;
  }

  .emptyButton {
    border-radius: 55px;
    background-color: $orange_color;
    width: 271px;
    height: 55px;
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &:hover {
      cursor: pointer;
    }
  }
}


@media only screen and (max-width : 1024px) {

  .cart-page-container {
    main {
      gap: 13px;
      padding: 10px 0 129px 0;

      .product-detail-container {
        .commentaire-section {
          gap: 10px;
          flex-direction: column;

          textarea {
            max-width: 340px;
            font-size: 14px;
          }
        }

      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 8px;

        button {
          width: 246px;
          height: 43px;
          font-size: 17px;
        }
      }
    }
  }

}
.cart-items{
  width: 100%;
  font-family: Poppins;
  &__title{
    color: #484848;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 36px;
  }
  &__list{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 30px;
    margin-bottom: 30px;
    &__product{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;     
      gap: 25px; 
      .supplier-name{
        color: #24A6A4;
        font-size: 17px;
        font-weight: 500;
        width: 17%;
      }
      .info-text{
        width: 21%;
        .title{
          color: #484848;
          font-size: 18px;
          font-weight: 600;
          line-height: 1;
          margin-bottom: 14px;
          display: block;
        }
        .description{
          color: #484848;
          font-size: 15px;
          font-weight: 400;
          line-height: 1.2;
          margin-top: 7px;
          display: block;            
          &--title{
            font-weight: 600;
          }      
          >span{
            display: block;
          }
        }        
        .link-accordion{
          background-color: transparent;
          border: none;
          box-shadow: none;
          padding: 0;
          margin: 0;
          .MuiAccordionSummary-root{
            padding:0;
            min-height: auto;
            .MuiAccordionSummary-content{
              margin: 0;
              p{
                margin:0;
                color: #958E8E;
                font-family: Poppins;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 149.5%; 
                position: relative;
                padding-right: 15px;
                &:after{
                  width: 8px;
                  height: 10px;
                  content: '';
                  background-size: contain;
                  background-position: center;
                  position: absolute;
                  top: 5px;
                  right:0;
                  transform: rotate(-180deg);
                  background-repeat: no-repeat;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M8.825 8L5 3.05533L1.175 8L-6.65404e-08 6.47773L5 2.59537e-07L10 6.47773L8.825 8Z' fill='%23958E8E'/%3E%3C/svg%3E");
                }
              }
            }
          }
          .MuiAccordionDetails-root{
            padding: 0;            
          }
          &.Mui-expanded{
            .MuiAccordionSummary-content{
              p:after{
                transform: rotate(0deg);
              }
            }

          }
        }
      }
      .total-price{
        color: #24A6A4;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
      }
      .quantite{
        .count-container{
          position: relative;
          input{
            border-radius: 10px;
            border: 1px solid #958E8E;
            background: #FFF;
            width: 87px;
            height: 34px;
            outline: none;
            padding-inline: 18px;
            padding-block: 8px;
            color: #958E8E;
            font-size: 20px;
            font-weight: 600;
            line-height: normal;
          }
          .count-buttons{
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
            height: 22px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            button{
              width: 6px;
              height: 8px;
              color: #958E8E;
              .count-more, .count-less{
                font-size: 15px;
              }
            }
          }
        }
      }
      .remove-btn{
        width: 34px;
        height: 34px;
        background-color: #FB3C00;
        color:white;
        border-radius: 50px;
      }
    }
  }
}

@media only screen and (max-width : 992px) {

  .cart-page-container {
    main {
      gap: 41px;
      padding: 10px 0 129px 0;

      .product-detail-container {
        table {
          thead {
            height: 53px;

            td {
              font-size: 15px;
            }

            .header-name {
              padding-left: 6px;
            }
          }

          tbody {
            .ariticle-info-container {
              .sous-total {
                font-size: 13px;
              }

              .image-container {
                gap: 13px;

                .info-text {
                  gap: 5px;

                  .title {
                    font-size: 13px;
                  }

                  .description {
                    width: 72px;
                    font-size: 12px;

                  }
                }

                img {
                  width: 43px;
                  height: 70px;

                }
              }

              button {
                width: 34px;
                height: 34px;
                font-size: 15px;
                margin-right: -2px;
                margin-left: -4px;
              }

              .quantite {
                .count-container {
                  width: 57px;
                  padding-left: 8px;

                  .count-buttons {
                    gap: 0px;

                    button {

                      .count-more,
                      .count-less {
                        width: 14px;
                        height: 14px;
                      }
                    }
                  }

                  input[type="number"] {
                    width: 70%;
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }

        .commentaire-section {
          gap: 10px;
          flex-direction: column;

          textarea {
            max-width: 340px;
            font-size: 15px;
          }

          span {
            font-size: 15px;
          }
        }

        .promos-list {
          .promo-button {
            font-size: 15px;
            height: 40px;
            margin-left: 15px;
          }
        }

        .promo-container {
          gap: 10px;

          .button {
            width: 173px;
            height: 43px;
            border-radius: 55px;
            font-size: 15px;
          }

          input[type='text'] {
            padding: 20px;
            width: 173px;
            height: 43px;
            font-size: 15px;

            &::placeholder {
              font-size: 15px;
            }
          }
        }

        .bonus {
          gap: 25px;
          justify-content: space-around;
          margin: 14px 0;


          span {
            width: 173px;
            font-size: 15px;
          }

          .button {
            width: 173px;
            height: 43px;
            font-size: 15px;
          }
        }

        ul {
          margin-bottom: 0;
          margin-top: 10px;
        }


        .bonus-message {
          width: 347px;
          margin: 0;
          font-size: 12px;
        }
      }

      .paiment-container {
        gap: 37px;
        padding: 0 27px;
        margin-bottom: 19px;

        .title {
          font-size: 20px;
          margin-top: 10px;
        }

        .method {
          label {
            font-size: 15px;
            margin: 0 auto 0 40px;
          }

          .icon {
            width: 30px;
            height: 30px;
          }

          .form-check-input[type="radio"] {
            font-size: 15px;
          }
        }

      }

      .deliv-details {
        padding: 0 66px 0px 23px;
        width: 100%;

        .select {
          cursor: pointer;
          padding: 0;
          min-width: 120px;
          gap: 14px;

          label {
            font-size: 15px;
          }

          .icon1 {
            width: 39px;
            height: 39px;
          }

          .icon2 {
            width: 39px;
            height: 44px;
          }

          .icon3 {
            width: 53px;
            height: 44px;
          }
        }
      }

      .deliv-to {
        gap: 15px;
        padding: 0 25px;
        margin-top: 23px;

        .title {
          font-size: 20px;
        }

        .adress-text {
          font-size: 16px;
        }

        .adress {
          margin-top: 15px;
          gap: 5px;
        }

        .info-container {
          label {
            font-size: 16px;
          }

          input[type='text'] {
            width: 65%;
            font-size: 16px;
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 8px;

        button {
          width: 187px;
          font-size: 14px;
        }
      }

      .summair-container {
        max-width: 339px;

        .info {
          width: 266px;
          height: 391px;
        }

      }
    }
  }

}


@media only screen and (max-width : 768px) {

  .cart-page-container {
    main {
      flex-wrap: wrap;

      .summair-container {
        max-width: 638px;

        .info {
          width: 400px;

        }
      }
    }
  }
}

@media only screen and (max-width : 500px) {

  .cart-page-container {

    .header {
      height: 225px;

      .image-container {
        height: 225px;

        span {
          top: 70%;
          font-size: 21px;
        }
      }
    }

    main {
      .product-detail-container {

        table {
          thead {
            td {
              font-size: 13px;
            }
          }



          tbody {
            .ariticle-info-container {
              button {
                width: 24px;
                height: 24px;
                font-size: 13px;
                margin-right: 0px;
                margin-left: 0px;
              }

              .quantite {
                .count-container {
                  width: 48px;

                  input[type=number] {
                    width: 48%;
                    font-size: 14px;
                  }
                }
              }


              .image-container {
                padding-left: 5px;

                img {
                  width: 28px;
                  height: 62px;
                  object-fit: cover;
                }

                .info-text {
                  .description {
                    width: 50px;
                    font-size: 12px;
                  }
                }
              }

              .sous-total {
                font-size: 12px;
                line-height: 12px;
              }
            }
          }

        }

        .commentaire-section textarea {
          max-width: 259px;
          font-size: 13px;
        }

        .promo-container {
          margin: 0;

          .button {
            width: 110px;
            font-size: 13px;
          }

          input[type=text] {
            width: 110px;
            font-size: 13px;
          }
        }

        .bonus {
          gap: 10px;

          span {
            width: 110px;
            font-size: 13px;
          }

          .button {
            width: 110px;
            height: 43px;
            font-size: 15px;
          }
        }

        .bonus-message {
          width: 251px;
          font-size: 10px;
        }
      }

      .paiment-container {
        .method {
          .icon {
            width: 25px;
            height: 19px;
          }

          label {
            font-size: 12px;
            margin: 0px auto 0 14px;
          }
        }
      }

      .deliv-details {
        .select {
          min-width: 84px;
          gap: 7px;

          label {
            font-size: 11px;
          }

          .icon1 {
            width: 25px;
            height: 25px;
          }

          .icon2 {
            width: 30px;
            height: 30px;
          }

          .icon3 {
            width: 40px;
            height: 32px;
          }
        }
      }

      .deliv-to {
        .title {
          font-size: 15px;
        }

        .info-container {

          input[type=text] {
            width: 47%;
            font-size: 13px;
          }

          label {
            font-size: 13px;
          }
        }

        .adress-text {
          font-size: 13px;
        }
      }

      .buttons {
        button {
          width: 143px;
          font-size: 11px;
        }
      }

      .summair-container {
        height: 100%;

        .info {
          width: 248px;
          height: 300px;

          .sous-total {
            padding-bottom: 9px;

            span {

              font-size: 13px;
            }
          }

          .a-payer {

            // padding-bottom: 9px;
            span {

              font-size: 13px;
            }
          }

          .panier {
            padding-bottom: 0;

            .panie-row {
              span {
                font-size: 13px;
              }
            }

          }
        }
      }
    }
  }
}