@import '../../scss/extend';

.cart-page-container {
  margin: 115px 0 0;

  .cart-page-cont {
    max-width: 1548px;

  }

  .devider {
    width: 100%;
    height: 1px;
    background-color: #EBEBEB;
  }

  .header {
    height: 350px;

    .image-container {
      height: 300px;
      position: relative;
      padding: 0;

      img {
        object-fit: cover;
        @include dimensions;
        border-bottom-left-radius: 177px;
      }

      span {
        position: absolute;
        top: 50%;
        left: 40vw;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Poppins-SemiBold', serif;
        font-size: 40px;
        line-height: normal;
        color: $color-white;
      }
    }
  }

  .btn-back {
    color: $Ocean_Teal;
    font-family: 'Poppins-SemiBold', serif;
    font-size: 14px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 39px;
    margin-bottom: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='16' viewBox='0 0 39 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.14384 9.96773C7.72471 10.5331 8.225 11.0197 8.72529 11.5075C9.0812 11.8552 9.43822 12.2008 9.79189 12.5518C10.6548 13.4103 10.6973 14.6088 9.89374 15.4082C9.07784 16.2208 7.8344 16.1978 6.94574 15.3317C4.99496 13.4322 3.05425 11.5239 1.10906 9.61889C0.902007 9.41548 0.690479 9.21645 0.486781 9.00977C-0.16124 8.35472 -0.164601 7.63406 0.492377 6.98557C1.91041 5.58909 3.33517 4.20025 4.75657 2.80705C5.48741 2.09185 6.21378 1.37228 6.95022 0.661464C7.83887 -0.196988 9.08791 -0.222141 9.89934 0.592568C10.6996 1.39634 10.6548 2.59489 9.78742 3.44897C8.94129 4.28227 8.09069 5.1112 7.15391 6.02761C7.40238 6.02761 7.55571 6.02761 7.71016 6.02761C17.4148 6.02761 27.1206 6.0276 36.8253 6.0276C37.9053 6.0276 38.6809 6.57111 38.9317 7.49408C39.2585 8.69482 38.3743 9.89227 37.1107 9.96336C36.9574 9.97211 36.804 9.96773 36.6496 9.96773C27.0143 9.96773 17.379 9.96773 7.74374 9.96773C7.58257 9.96773 7.42141 9.96773 7.14384 9.96773Z' fill='%2324A6A4'/%3E%3C/svg%3E");
  }

  main {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 70px;
    padding: 10px 0 129px 0;
    position: relative;

    .product-detail-container {
      border-radius: 15px;
      display: block;
      background-color: $color-white;
      box-shadow: 0px 4px 20px 0px #9F999940;
      padding: 50px;

      &::-webkit-scrollbar {
        width: 0rem;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      .card-paiment {
        padding: 0;
      }

      .devider {
        @include dimensions(100%, 1px);
        background-color: $color-gray-gallery-2;
      }

      .commentaire-section {
        @include flex(flex, center, flex-start);
        gap: 20px;
        width: 100%;
        margin: 0;
        padding: 30px 0;
        border-bottom: 1px solid $color-gray-gallery-2;

        textarea {
          border-radius: 15px;
          @include border(1px, $color-gray);
          background-color: $color-white;
          @include fonts(13px, 13px, $dark_Gray);
          font-family: 'Poppins-Regular', serif;
          font-weight: weight(regular);
          width: calc(83% - 25px);
          height: 89px;
          padding: 26px;

          &::placeholder {
            font-style: italic;
          }

          &:focus {
            outline: none;
          }
        }

        label {
          font-family: 'Poppins-SemiBold', serif;
          @include fonts(20px, 20px, $color-blue-pelorous);
          width: 160px;
          display: inline-block;
        }
      }

      .promo-container {
        @include flex;
        gap: 20px;
        margin: 0;
        padding: 30px 0;
        width: 100%;

        textarea {
          border-radius: 15px;
          @include border(1px, $color-gray);
          background-color: $color-white;
          @include fonts(13px, 13px, $dark_Gray);
          font-family: 'Poppins-Regular', serif;
          font-weight: weight(regular);
          @include dimensions(100%, 43px);
          padding: 6px 12px;
          margin: 0;

          &::placeholder {
            font-style: italic;
          }

          &:focus {
            outline: none;
          }
        }

        label {
          font-family: 'Poppins-SemiBold', serif;
          @include fonts(20px, 20px, $color-blue-pelorous);
          width: 280px;
          display: inline-block;
        }

        .button {
          min-width: 145px;
          height: 43px;
          border-radius: 55px;
          background-color: $color-blue-pelorous;
          @include fonts(17px, 17px, $color-white);
          font-family: 'Poppins-Medium', serif;

          &:hover {
            cursor: pointer;
          }
        }

        .disabled {
          opacity: 0.5;

          &:hover {
            cursor: default;
          }
        }

        input[type='text'] {
          padding: 20px;
          @include dimensions(222px, 43px);
          outline: none;
          border-radius: 55px;
          @include border(1px, $orange_color);
          background: $color-white;
          font-size: 14px;

          &::placeholder {
            color: $orange_color;
            font-family: 'Poppins-Medium', serif;
            font-size: 17px;
            line-height: normal;
            text-align: center;
          }
        }
      }

      .promos-area {
        border-bottom: 1px solid $color-gray-gallery-2;
        @include flex(flex, flex-start, flex-start);
        gap: 20px;
        margin: 0;
        padding: 30px 0;
        width: 100%;

        label {
          font-family: 'Poppins-SemiBold', serif;
          @include fonts(20px, 20px, $color-blue-pelorous);
          width: 200px;
          display: inline-block;
        }

        .promos-wrapper {
          width: 100%;

          .promos-list {
            width: 100%;
            margin: 0 0 25px;

            ul {
              margin-bottom: 0;
              display: flex;
              flex-wrap: wrap;
              justify-content: start;
              padding: 0;
              margin: 0;
              width: 100%;
              gap: 10px;
              list-style: none;
            }

            .promo-button {
              padding: 5px 7px;
              background-color: $color-gray-alto-2;
              min-width: 80px;
              height: 34px;
              text-align: center;
              border-radius: 7px;
              transition: all 0.3s ease-in;
              @include fonts(13px, 13px, $dark_Gray);
              font-family: 'Poppins-Regular', serif;
              font-weight: weight(regular);
              letter-spacing: -0.39px;

              &:hover {
                cursor: pointer;
                opacity: 0.7;
              }

              &.active {
                @include border(1px, $shade-reddish-orange);
                background-color: $color-white;
              }
            }

            .selected {
              opacity: 0.7;
            }
          }

          .promo-container {
            padding: 0;

            textarea {
              border-radius: 15px;
              @include border(1px, $color-gray);
              background-color: $color-white;
              @include fonts(13px, 13px, $dark_Gray);
              font-family: 'Poppins-Regular', serif;
              font-weight: weight(regular);
              @include dimensions(100%, 43px);
              padding: 6px 12px;
              margin: 0;

              &::placeholder {
                font-style: italic;
              }

              &:focus {
                outline: none;
              }
            }
          }
        }
      }

      .bonus-area {
        @include flex(flex, flex-start, flex-start);
        gap: 20px;
        margin: 0;
        padding: 30px 0;
        width: 100%;

        label {
          font-family: 'Poppins-SemiBold', serif;
          @include fonts(20px, 20px, $color-blue-pelorous);
          width: 200px;
          display: inline-block;
        }

        .bonus-wrapper {
          width: 100%;

          .promo-container {
            padding: 0;
            margin: 0 0 25px;

            textarea {
              border-radius: 15px;
              @include border(1px, $color-gray);
              background-color: $color-white;
              @include fonts(13px, 13px, $dark_Gray);
              font-family: 'Poppins-Regular', serif;
              font-weight: weight(regular);
              @include dimensions(100%, 43px);
              padding: 13px 12px;
              margin: 0;

              &::placeholder {
                font-style: italic;
              }

              &:focus {
                outline: none;
              }
            }
          }

          .bonus-message {
            max-width: 480px;
            @include fonts(12px, 16px, $dark_Gray);
            font-family: 'Poppins-Regular', serif;
          }
        }
      }

    }

    .paiment-container {
      display: block;
      margin-bottom: 50px;

      .title {
        font-family: 'Poppins-SemiBold', serif;
        @include fonts(20px, 20px, $color-blue-pelorous);
        margin: 0 0 20px;
      }

      .method-group {
        @include flex(flex, center, space-between);
        gap: 55px;
      }

      .method {
        @include flex(flex, center, space-between);
        @include border(1px, $light_Gray);
        border-radius: 15px;
        padding: 20px 25px;
        @include dimensions(100%, 67px);

        label {
          @include fonts(16px, 16px, $dark_Gray);
          font-family: 'Poppins-Medium', serif;
          font-weight: weight(medium);
          cursor: pointer;
          margin: 0;
        }

        .icon {
          @include dimensions(42px, 25px);
        }

        .cart {
          @include dimensions(31px, 25px);
        }

        .form-check-input[type="radio"] {
          @include dimensions(20px, 20px);
          @include border(2px, $color-morning-glory);
          background-color: $color-white;
          margin: 0;

          &:focus {
            box-shadow: none;
          }
        }

        .form-check-input[type="radio"]:checked~.form-check-label {
          color: red;
          background-color: $color-apricot;
        }

        .form-check-input[type="radio"]:checked {
          background-color: transparent;
          border-color: $color-apricot;
          background-size: 10px auto;
          background-position: center;
          --bs-form-check-bg-image: none;
          position: relative;

          &::after {
            content: '';
            display: block;
            @include dimensions(10px, 10px);
            background-color: $color-apricot;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 50%;
          }

          &:focus {
            box-shadow: none;
          }
        }

        &.active {
          border-color: $color-apricot;
          background-color: $color-bizzare;
        }
      }

    }

    .deliv-details {
      width: 100%;
      display: block;
      margin: 0 0 40px;

      .title {
        font-family: "Poppins-SemiBold", serif;
        @include fonts(20px, 20px, $color-blue-pelorous);
        margin: 0 0 20px;
      }
      .deliv-select-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
      }
      .select {
        @include border(1px, $light_Gray);
        border-radius: 15px;
        padding: 30px;
        min-width: 100%;
        height: 265px;
        display: block;
        cursor: pointer;
        position: relative;
        transition: background-color ease-in-out 0.5s;

        label {
          cursor: pointer;
          color: $light_Gray;
          font-family: 'Poppins-SemiBold', serif;
          font-size: 20px;
          line-height: normal;
          transition: all ease-in-out 0.5s;
        }

        input[type="radio"] {
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          position: absolute;
          top: 0;
          right: 0;
        }

        .deliv-details_img-blc {
          flex-shrink: 0;
          overflow: hidden;

          img {
            @include dimensions(100%, 100%);
            object-fit: cover;
          }

          &.icon1 {
            @include dimensions(50px, 50px);
            margin: -10px 0 0;
          }

          &.icon2 {
            @include dimensions(40px, 40px);
          }

          &.icon3 {
            @include dimensions(60px, 60px);
            margin: -10px 0 0;
          }
        }

        .deliv-details_header {
          @include flex(flex, flex-start, space-between);
          margin: 0 0 25px;
          gap: 10px;

          .deliv-details_header-desc {
            @include flex(flex, flex-end, flex-end);
            flex-direction: column;

            time {
              @include fonts(20px, 20px, $dark_002);
              font-family: 'Poppins-SemiBold', serif;
              margin: 0 0 7px;
              text-align: right;
            }

            .deliv-type {
              @include fonts(20px, 20px, $dark_002);
              font-family: 'Poppins-SemiBold', serif;
              text-align: right;
            }
          }
        }

        .deliv-details_description {
          @include fonts(18px, 30px, $dark_002);
          font-family: 'Poppins-Medium', serif;
          margin: 0 0 30px;
        }

        .btn {
          &.btn-deliv {
            background-color: $color-gray;
            border-radius: 5px;
            @include flex;
            @include dimensions(100%, 47px);
            @include fonts(20px, 20px, $color-white);
            font-family: 'Poppins-SemiBold', serif;
            text-transform: uppercase;
          }
        }
      }

      .selected {
        background-color: $color-botticelli;
        border-color: $color-blue-pelorous;

        .btn {
          &.btn-deliv {
            background-color: $color-blue-pelorous;
          }
        }
      }
    }

    .order-recovery-area {
      margin: 0 0 55px;

      .order-recovery-title {
        margin: 60px 0 40px 0;
        @include fonts(20px, 20px, $dark_Gray);
        font-family: 'Poppins-SemiBold', serif;
        text-align: center;
      }

      .order-recovery-select-blc {
        max-width: 700px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;

        .order-recovery-select-item {
          font-family: 'Poppins-Medium', serif;
          @include fonts(16px, 20px, $dark_Gray);
          @include dimensions(100%, 120px);
          @include flex;
          @include border(1px, $light_Gray);
          border-radius: 15px;
          background-color: $color-white;
          padding: 0px 100px;
          text-align: center;

          &.active {
            background-color: $color-botticelli;
            border-color: $color-blue-pelorous;
          }
        }
      }
    }

    .time-picker {
      width: 95%;
      text-align: center;
      font-size: 18px;
      color: $Ocean_Teal;
      outline: none;
      border: none;

      .react-time-picker__clear-button {
        display: none;
      }

      .react-time-picker__inputGroup__input {
        &:focus {
          border: none;
          outline: none;
        }
      }
    }

    .deliv-to {
      width: initial;
      display: block;
      margin: 0 0 60px;

      .title {
        margin: 60px 0 25px 0;
        @include fonts(20px, 20px, $color-blue-pelorous);
        font-family: 'Poppins-SemiBold', serif;
      }

      .deliv-infos-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        margin: 0 0 30px;
      }

      .adress {
        @include dimensions(100%, 100%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        position: relative;
        margin: 0;

        .adress-text {
          @include fonts(16px, 16px, $color-gray);
          font-family: 'Poppins-SemiBold', serif;
          text-align: left;
          padding: 0 30px;
          margin: 0;
        }

      }

      .btn {
        &.btn-edit {
          @include dimensions(25px, 25px);
          background-image: url('./../../assets/panier/edit-icn.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 23px auto;
          position: absolute;
          right: 25px;
        }
      }

      .info-container {
        @include flex(flex, center, space-between);
        @include border(1px, $light_Gray);
        border-radius: 15px;
        position: relative;
        height: 65px;

        label {
          @include fonts(16px, 16px, $dark_Gray);
          background-color: $color-white;
          font-family: 'Poppins-SemiBold', serif;
          padding: 0 10px 5px;
          position: absolute;
          top: -10px;
          left: 55px;
        }

        input {
          &[type='text'] {
            @include dimensions(100%, 100%);
            @include fonts(16px, 16px, $color-gray);
            font-family: 'Poppins-SemiBold', serif;
            text-align: left;
            padding: 0 30px;
          }
        }
      }
    }

    .message-validation {
      @include fonts(16px, 16px, $dark_Gray);
      font-family: 'Poppins-SemiBold', serif;
      margin: 30px 0 0;
    }

    .buttons {
      @include flex(flex, center, space-between);

      button {
        min-width: 292px;
        height: 50px;
        @include flex;
        font-family: Poppins;
        font-size: 17px;
        font-weight: weight(medium);
        border-radius: 55px;
        padding-inline: 36px;

        &:hover {
          cursor: pointer;
        }

        &.commander {
          color: $color-white;
          background-color: $orange_color;
        }

        &.cancel {
          @include border(1px, $orange_color);
          color: $orange_color;
        }
      }

      .continue {
        border-radius: 55px;
        @include border(1px, $orange_color);
        color: $orange_color;
      }
    }

    .summair-container {
      border-radius: 15px;
      padding: 50px 0 0;
      gap: 10px;
      background-color: $color-white;
      box-shadow: 0px 4px 20px 0px #9F999940;

      .summair-title {
        margin: 0 0 15px;
        padding: 0 30px;
        font-family: 'Poppins-SemiBold', serif;
        @include fonts(20px, 20px, $dark_002);
      }

      .info {
        padding: 0;
        width: initial;
        border-radius: 0;

        .sous-total {
          display: flex;
          justify-content: space-between;
          padding-bottom: 28px;
          margin-bottom: 16px;
          border-bottom: solid 1px $dark_002;

          span {
            color: $dark_Gray;
            font-family: 'Poppins-SemiBold', serif;
            font-size: 16px;
            line-height: normal;
          }

          .value {
            color: $Ocean_Teal;
            font-family: 'Poppins-SemiBold', serif;
            font-size: 16px;
            line-height: normal;
          }
        }

        .panier {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding-bottom: 22px;
          margin-bottom: 12px;
          border-bottom: solid 1px $dark_002;

          span {
            color: $dark_Gray;
            font-family: 'Poppins-SemiBold', serif;
            font-size: 16px;
            line-height: normal;
          }

          .panie-row {
            @include flex(flex, center, space-between);

            span {
              color: $Ocean_Teal;
              font-family: 'Poppins-SemiBold', serif;
              font-size: 16px;
              line-height: normal;
            }
          }

        }

        .a-payer {
          display: flex;
          justify-content: space-between;
          margin-bottom: 22px;

          span {
            color: $dark_Gray;
            font-family: 'Poppins-SemiBold', serif;
            font-size: 16px;
            line-height: normal;
          }

          .value {
            color: $Ocean_Teal;
          }
        }

        .button-container {
          @include flex;

          button {
            @include dimensions(216px, 43px);
            text-align: center;
            border-radius: 55px;
            background: $orange_color;
            color: $color-white;
            font-family: 'Poppins-Medium', serif;
            font-size: 17px;
            line-height: normal;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .info-customer-area {
          padding: 0 30px 25px;
          border-bottom: 1px solid $color-gray-alto-2;

          .info-customer-title-blc {
            @include flex(flex, center, space-between);
            margin: 0 0 15px;

            .info-customer-title {
              @include fonts(20px, 20px, $color-blue-pelorous);
              font-family: 'Poppins-SemiBold', serif;
            }

            .edit-info-customer-link {
              @include fonts(16px, 16px, $color-blue-pelorous);
              font-family: 'Poppins-SemiBold', serif;
              background-image: url('./../../assets/edit.svg');
              background-repeat: no-repeat;
              background-size: 12px auto;
              background-position: right center;
              padding: 0 20px 0 0;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .customer-infos-area {
            .customer-info_name {
              margin: 0 0 15px;
              font-family: 'Poppins-SemiBold', serif;
              @include fonts(16px, 16px, $dark_Gray);
            }

            .customer-info_mobile {
              margin: 0 0 15px;
              font-family: 'Poppins-Medium', serif;
              @include fonts(16px, 16px, $color-gray);

              span {
                font-family: 'Poppins-Bold', serif;
                @include fonts(16px, 16px, $dark_Gray);
              }
            }

            .customer-info_adresse {
              font-family: 'Poppins-Medium', serif;
              @include fonts(16px, 24px, $color-gray);
            }
          }
        }

        .payment-method {
          padding: 17px 30px 25px;
          border-bottom: 1px solid $color-gray-alto-2;

          .payment-method-title {
            margin: 0 0 25px;
            font-family: 'Poppins-SemiBold', serif;
            @include fonts(20px, 20px, $color-blue-pelorous);
          }

          .payment-method-status {
            @include flex;
            @include border(1px, $color-apricot);
            background-color: $color-white;
            border-radius: 15px;
            height: 67px;

            .payment-method-status_txt {
              @include fonts(16px, 16px, $dark_Gray);
              background-position: left center;
              background-repeat: no-repeat;
              padding: 7px 0 7px 55px;

              &.cash {
                background-image: url('./../../assets/cash-icn.svg');
                background-size: 42px auto;
              }

              &.card {
                background-image: url('./../../assets/card-icn.svg');
                background-size: 32px auto;
              }
            }
          }
        }

        .calculate-total-price {
          padding: 25px 30px;

          .supplier-name-blc {
            display: flex;
            align-items: center;
            gap: 20px;
            margin: 0 0 20px;

            .supplier-img-blc {
              @include dimensions(63px, 53px);
              @include flex;
              overflow: hidden;
              border-radius: 10px;
              flex-shrink: 0;

              img {
                @include dimensions(100%, 100%);
                object-fit: cover;
                border-radius: 10px;
              }
            }

            .supplier-title-blc {
              .supplier-title {
                @include fonts(20px, 20px, $dark_Gray);
                font-family: 'Poppins-Medium', serif;
                margin: 0 0 5px;
              }

              .supplier-adresse {
                @include fonts(16px, 16px, $light_Gray);
                font-family: 'Poppins-Medium', serif;
                margin: 0;
              }
            }
          }

          .devider {
            width: 100%;
            height: 1px;
            background-color: $dark_002;
          }

          .products-count-area {
            @include flex(flex, center, space-between);
            padding: 0 0 20px;
            margin: 7px 0;
            border-bottom: none;



            .product-id {
              @include fonts(17px, 17px, $dark_Gray);
              font-family: 'Poppins-Medium', serif;
            }

            .product-name {
              @include fonts(16px, 16px, $dark_Gray);
              font-family: 'Poppins-SemiBold', serif;
            }

            .product-price {
              @include fonts(16px, 16px, $color-blue-pelorous);
              font-family: 'Poppins-SemiBold', serif;
            }

          }

          .price-total-area {
            padding: 20px 0;
            border-bottom: 1px solid $dark_002;

            .sous-total {
              margin: 0;
              padding: 0;
              border: 0;

              &:not(:last-child) {
                margin-bottom: 16px;
              }

              .title {
                @include fonts(16px, 16px, $dark_Gray);
                font-family: 'Poppins-SemiBold', serif;
              }

              .value {
                @include fonts(16px, 16px, $color-blue-pelorous);
                font-family: 'Poppins-SemiBold', serif;
              }
            }
          }

          .a-payer {
            padding: 20px 0 0;
            margin: 0;

            .title {
              @include fonts(20px, 20px, $dark_002);
              font-family: 'Poppins-SemiBold', serif;
            }

            .value {
              @include fonts(16px, 16px, $color-blue-pelorous);
              font-family: 'Poppins-SemiBold', serif;
            }
          }
        }
      }
    }

    .bulles {
      display: flex;
      flex-direction: column;
      position: fixed;
      bottom: 22px;
      right: 26px;
      gap: 20px;
      z-index: 1;

      .messanger-popup-btn,
      .phone-popup-btn {
        @include dimensions(64px, 64px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
        border: navajowhite;
      }

      .messanger-popup-btn {
        position: relative;

        .messanger-bull-notif-icon {
          position: absolute;
          right: 0;
          top: 3px;
          color: $color-white;
          background-color: $orange_color;
          border-radius: 50%;
          padding: 5px;
          font-size: 11px;
          margin: 0;
          @include flex;
        }
      }

    }

    .discuter-messanger-popup {
      bottom: 105px;
      right: 50px;
      z-index: 10;

      main {
        display: inline-block;
        padding: 0;
      }
    }
  }

}

.noDataFound {
  width: 100%;
  min-height: 80vh;
  flex-direction: column;
  @include flex;
  padding-bottom: 196px;
  margin: 105px 0 0 auto;

  .empty-container-tab {
    width: 100%;
    flex-shrink: 0;
    border-radius: 0px 0px 15px 15px;
    background: $Off-White;

    .empty-header {
      @include dimensions(100%, 21px);
      background-color: $Ocean_Teal;
    }

    p {
      margin: 17px auto 21px 34px;
      font-family: 'Poppins-SemiBold', serif;
      @include fonts(18px, 20px, $dark_Gray);
    }
  }

  img {
    margin: 100px 0 50px 0;
  }

  .emptyButton {
    border-radius: 55px;
    background-color: $orange_color;
    @include dimensions(271px, 55px);
    text-align: center;
    color: $color-white;
    font-family: 'Poppins-SemiBold', serif;
    font-size: 20px;
    line-height: normal;

    &:hover {
      cursor: pointer;
    }
  }
}

/* -- breadcrumb-area -- */

.breadcrumb-area {
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 17px;

  li {
    position: relative;

    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        @include dimensions(5px, 9px);
        background-image: url('./../../assets/breadcrumb-icn.svg');
        background-repeat: no-repeat;
        background-size: 5px auto;
        background-position: center;
        position: absolute;
        top: 2px;
        right: -12px;
      }
    }
  }

  .breadcrumb-link {
    @include fonts(14px, 14px, $dark_Gray);
    font-family: 'Poppins-SemiBold', serif;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      &:hover {
        text-decoration: none;
        cursor: initial;
      }
    }
  }
}

/* -- product-detail-container -- */

.product-detail-container {
  .cart-items {
    .cart-items__title {
      margin: 0 0 45px;
      @include fonts(22px, 22px, $dark_002);
    }

    .cart-items__list {
      margin: 0;
      padding: 0 0 30px;
      border-bottom: 1px solid $color-gray-gallery-2;

      .supplier-name {
        color: #24A6A4;
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        text-align: left;
      }

      .cart-items__list__product {
        display: block;
      }
    }
  }

  .supplier-desc-header {
    width: 100%;
    @include flex(flex, center, space-between);
    margin: 0 0 15px;

    .supplier-name {
      @include fonts(20px, 20px, $color-blue-pelorous);
      font-family: 'Poppins-Medium', serif;
      text-transform: lowercase;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    .show-all-link-blc {
      .show-all-link {
        @include fonts(12px, 12px, $light_Gray);
        font-family: 'Poppins-Medium', serif;
        background-image: url('./../../assets/arrow-showall.svg');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 8px auto;
        padding: 0 16px 0 0;
        cursor: pointer;
        display: block;
        min-width: 100px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .supplier-desc-body {
    @include flex(flex, center, space-between);
    margin: 0 0 10px;

    .supplier-name-blc {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 250px;

      .supplier-img-blc {
        @include dimensions(63px, 53px);
        @include flex;
        overflow: hidden;
        border-radius: 10px;
        flex-shrink: 0;

        img {
          @include dimensions(100%, 100%);
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .supplier-title-blc {
        .supplier-title {
          @include fonts(18px, 18px, $dark_Gray);
          font-family: 'Poppins-SemiBold', serif;
          margin: 0 0 5px;
        }

        .total-price {
          @include fonts(16px, 16px, $light_Gray);
          font-family: 'Poppins-SemiBold', serif;
          margin: 0;
        }
      }
    }

    .total-price-area {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}

.cart-items {
  width: 100%;
  font-family: 'Poppins-Regular', serif;

  &__title {
    color: $dark_Gray;
    font-size: 18px;
    font-weight: weight(semiBold);
    margin-bottom: 36px;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 30px;
    margin-bottom: 30px;

    &__product {
      @include flex(flex, flex-start, space-between);
      width: 100%;
      gap: 25px;

      .supplier-name {
        color: $Ocean_Teal;
        font-size: 17px;
        font-weight: weight(medium);
        width: 17%;
      }

      .info-text {
        width: 21%;

        .title {
          color: $dark_Gray;
          font-size: 18px;
          font-weight: weight(semiBold);
          line-height: 1;
          margin-bottom: 14px;
          display: block;
        }

        .description {
          color: $dark_Gray;
          font-size: 15px;
          font-weight: weight(regular);
          line-height: 1.2;
          margin-top: 7px;
          display: block;

          &--title {
            font-weight: weight(semiBold);
          }

          >span {
            display: block;
          }
        }

        .link-accordion {
          background-color: transparent;
          border: none;
          box-shadow: none;
          padding: 0;
          margin: 0;

          .MuiAccordionSummary-root {
            padding: 0;
            min-height: auto;

            .MuiAccordionSummary-content {
              margin: 0;

              p {
                margin: 0;
                color: $light_Gray;
                font-family: 'Poppins-Regular', serif;
                font-size: 15px;
                font-weight: weight(regular);
                line-height: 149.5%;
                position: relative;
                padding-right: 15px;

                &:after {
                  @include dimensions(8px, 10px);
                  content: '';
                  background-size: contain;
                  background-position: center;
                  position: absolute;
                  top: 5px;
                  right: 0;
                  transform: rotate(-180deg);
                  background-repeat: no-repeat;
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M8.825 8L5 3.05533L1.175 8L-6.65404e-08 6.47773L5 2.59537e-07L10 6.47773L8.825 8Z' fill='%23958E8E'/%3E%3C/svg%3E");
                }
              }
            }
          }

          .MuiAccordionDetails-root {
            padding: 0;
          }

          &.Mui-expanded {
            .MuiAccordionSummary-content {
              p:after {
                transform: rotate(0deg);
              }
            }

          }
        }
      }

      .total-price {
        color: $Ocean_Teal;
        font-size: 16px;
        font-weight: weight(medium);
        line-height: 1;
      }

      .quantite {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .remove-btn {
        @include dimensions(21px, 27px);
        background-image: url('./../../assets/delete-icn.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 21px auto;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }
}

/* -- count-container -- */

.count-container {
  position: relative;
  width: 97px;

  input {
    border-radius: 7px;
    @include border(1px, $light_Gray);
    background-color: $color-white;
    @include dimensions(97px, 34px);
    @include fonts(17px, 17px, $shade-reddish-orange);
    font-family: 'Poppins-SemiBold', serif;
    text-align: center;
    padding: 0 0 0 12px;
  }

  .count-buttons {
    position: absolute;
    top: 0;
    @include dimensions(100%, 100%);

    .btn {
      @include dimensions(25px, 25px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px auto;
      position: absolute;
      top: 4px;

      &.count-more {
        background-image: url('./../../assets/plus-icn.svg');
        right: 5px;
      }

      &.count-less {
        background-image: url('./../../assets/minus-icn.svg');
        left: 5px;
      }
    }


  }
}

/* -- message-validation-area -- */

.message-validation-area {
  .message-validation-title {
    @include fonts(32px, 32px, $Ocean_Teal);
    font-family: 'Poppins-Bold', serif;
    margin: 0 0 100px;
    text-align: center;
  }

  .message-validation_img-blc {
    margin: 0 auto 100px;
    @include dimensions(260px, 230px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 260px auto;

    &.commande-valide {
      background-image: url('./../../assets/panier/commande-valide-icn.png');
    }

    &.commande-nnvalide {
      background-image: url('./../../assets/panier/commande-nnvalide-icn.png');
    }

    &.paiement-valide {
      background-image: url('./../../assets/panier/paiement-valide-icn.png');
    }

    &.paiement-nnvalide {
      background-image: url('./../../assets/panier/paiement-nnvalide-icn.png');
    }
  }

  .message-validation_desc {
    p {
      @include fonts(17px, 25px, $dark_Gray);
      font-family: 'Poppins-Medium', serif;
      text-align: center;
      margin: 0;
    }
  }

  .btns-group {
    @include flex;
    margin: 87px 0 0;

    .btn {
      &.btn-valid {
        background-color: $orange_color;
        min-width: 270px;
        height: 43px;
        border-radius: 55px;
        @include fonts(17px, 25px, $color-white);
        font-family: 'Poppins-SemiBold', serif;
      }
    }
  }
}

/* # $Mobile ::
------------------------------------*/

@media (max-width: 1440px) {}

@media only screen and (max-width : 1024px) {

  .cart-page-container {
    main {
      gap: 13px;
      padding: 10px 0 129px 0;

      .product-detail-container {
        .commentaire-section {
          gap: 10px;
          flex-direction: column;

          textarea {
            max-width: 340px;
            font-size: 14px;
          }
        }

      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 8px;

        button {
          @include dimensions(246px, 43px);
          font-size: 17px;
        }
      }
    }
  }

}



@media only screen and (max-width : 992px) {

  .cart-page-container {
    main {
      gap: 41px;
      padding: 10px 0 129px 0;

      .product-detail-container {
        table {
          thead {
            height: 53px;

            td {
              font-size: 15px;
            }

            .header-name {
              padding-left: 6px;
            }
          }

          tbody {
            .ariticle-info-container {
              .sous-total {
                font-size: 13px;
              }

              .image-container {
                gap: 13px;

                .info-text {
                  gap: 5px;

                  .title {
                    font-size: 13px;
                  }

                  .description {
                    width: 72px;
                    font-size: 12px;

                  }
                }

                img {
                  @include dimensions(43px, 70px);
                }
              }

              button {
                @include dimensions(34px, 34px);
                font-size: 15px;
                margin-right: -2px;
                margin-left: -4px;
              }

              .quantite {
                .count-container {
                  width: 57px;
                  padding-left: 8px;

                  .count-buttons {
                    gap: 0px;

                    button {

                      .count-more,
                      .count-less {
                        @include dimensions(14px, 14px);
                      }
                    }
                  }

                  input[type="number"] {
                    width: 70%;
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }

        .commentaire-section {
          gap: 10px;
          flex-direction: column;

          textarea {
            max-width: 340px;
            font-size: 15px;
          }

          span {
            font-size: 15px;
          }
        }

        .promos-list {
          .promo-button {
            font-size: 15px;
            height: 40px;
            margin-left: 15px;
          }
        }

        .promo-container {
          gap: 10px;

          .button {
            @include dimensions(173px, 43px);
            border-radius: 55px;
            font-size: 15px;
          }

          input[type='text'] {
            padding: 20px;
            @include dimensions(173px, 43px);
            font-size: 15px;

            &::placeholder {
              font-size: 15px;
            }
          }
        }

        .bonus {
          gap: 25px;
          justify-content: space-around;
          margin: 14px 0;

          span {
            width: 173px;
            font-size: 15px;
          }

          .button {
            @include dimensions(173px, 43px);
            font-size: 15px;
          }
        }

        ul {
          margin-bottom: 0;
          margin-top: 10px;
        }


        .bonus-message {
          width: 347px;
          margin: 0;
          font-size: 12px;
        }
      }

      .paiment-container {
        gap: 37px;
        padding: 0 27px;
        margin-bottom: 19px;

        .title {
          font-size: 20px;
          margin-top: 10px;
        }

        .method {
          label {
            font-size: 15px;
            margin: 0 auto 0 40px;
          }

          .icon {
            @include dimensions(30px, 30px);
          }

          .form-check-input[type="radio"] {
            font-size: 15px;
          }
        }


      }

      .deliv-details {
        padding: 0 66px 0px 23px;
        width: 100%;

        .select {
          cursor: pointer;
          padding: 0;
          min-width: 120px;
          gap: 14px;

          label {
            font-size: 15px;
          }


        }
      }

      .deliv-to {
        gap: 15px;
        padding: 0 25px;
        margin-top: 23px;

        .title {
          font-size: 20px;
        }

        .adress-text {
          font-size: 16px;
        }

        .adress {
          margin-top: 15px;
          gap: 5px;
        }

        .info-container {
          label {
            font-size: 16px;
          }

          input[type='text'] {
            width: 65%;
            font-size: 16px;
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 8px;

        button {
          width: 187px;
          font-size: 14px;
        }
      }

      .summair-container {
        max-width: 339px;

        .info {
          @include dimensions(266px, 391px);
        }

      }
    }
  }

}


@media only screen and (max-width : 768px) {

  .cart-page-container {
    main {
      flex-wrap: wrap;

      .summair-container {
        max-width: 638px;

        .info {
          width: 400px;

        }
      }
    }
  }
}

@media only screen and (max-width : 500px) {

  .cart-page-container {

    .header {
      height: 225px;

      .image-container {
        height: 225px;

        span {
          top: 70%;
          font-size: 21px;
        }
      }
    }

    main {
      .product-detail-container {

        table {
          thead {
            td {
              font-size: 13px;
            }
          }

          tbody {
            .ariticle-info-container {
              button {
                @include dimensions(24px, 24px);
                font-size: 13px;
                margin-right: 0px;
                margin-left: 0px;
              }

              .quantite {
                .count-container {
                  width: 48px;

                  input[type=number] {
                    width: 48%;
                    font-size: 14px;
                  }
                }
              }


              .image-container {
                padding-left: 5px;

                img {
                  @include dimensions(28px, 62px);
                  object-fit: cover;
                }

                .info-text {
                  .description {
                    width: 50px;
                    font-size: 12px;
                  }
                }
              }

              .sous-total {
                font-size: 12px;
                line-height: 12px;
              }
            }
          }

        }

        .commentaire-section textarea {
          max-width: 259px;
          font-size: 13px;
        }

        .promo-container {
          margin: 0;

          .button {
            width: 110px;
            font-size: 13px;
          }

          input[type=text] {
            width: 110px;
            font-size: 13px;
          }
        }

        .bonus {
          gap: 10px;

          span {
            width: 110px;
            font-size: 13px;
          }

          .button {
            @include dimensions(110px, 43px);
            font-size: 15px;
          }
        }

        .bonus-message {
          width: 251px;
          font-size: 10px;
        }
      }

      .paiment-container {
        .method {
          .icon {
            @include dimensions(25px, 19px);
          }

          label {
            font-size: 12px;
            margin: 0px auto 0 14px;
          }
        }
      }

      .deliv-details {
        .select {
          min-width: 84px;
          gap: 7px;

          label {
            font-size: 11px;
          }


        }
      }

      .deliv-to {
        .title {
          font-size: 15px;
        }

        .info-container {

          input[type=text] {
            width: 47%;
            font-size: 13px;
          }

          label {
            font-size: 13px;
          }
        }

        .adress-text {
          font-size: 13px;
        }
      }

      .buttons {
        button {
          width: 143px;
          font-size: 11px;
        }
      }

      .summair-container {
        height: 100%;

        .info {
          @include dimensions(248px, 300px);

          .sous-total {
            padding-bottom: 9px;

            span {

              font-size: 13px;
            }
          }

          .a-payer {

            // padding-bottom: 9px;
            span {

              font-size: 13px;
            }
          }

          .panier {
            padding-bottom: 0;

            .panie-row {
              span {
                font-size: 13px;
              }
            }

          }
        }
      }
    }
  }
}