
/* # Variables ::
------------------------------------*/

$color-white: #ffffff;
$primary_color : #2EB5B2;
$primary_color_001: #30c5c5;
$primary_color_002 : #2eb5b3a1;
$Ocean_Teal: #24A6A4;
$color-blue-eastern: #1F94A4;
$color-blue-scooter: #2EB1C3;
$color-blue-half: #8AC8C7;
$color-turquoise: #2bc5c3;
$color-blue-clearday: #EBFFFC;
$color-blue-powder: #C0E8ED;
$color-gray-alto: #D9D9D9;
$color-gray-mercury: #E8E8E8;
$color-gray-mercury: #E8E8E8;
$color-gray-oldlace: #FDF9E9;
$color-blue-endeavour: #005ab5;
$color-blue-azure: #007bff;
$color-red: #FF0000;

$color-yellow-buttercup: #F0BF0F;
$orange_color: #FBC000;
$orange_color_001 : #ffcf32;
$white_001 : #fffefe;
$Off-White : #F7F7F7;
$dark_Gray: #484848;
$Sunlit_Cream : #FDE08387;
$shade_Gray : #F2F2F2;

$color-yellow-ronchi: #EFBF42;

$light_beige : #f5e9c4;
$Buttercream :#FFF4D1;
$Creamy_Vanilla :#FEF7DF;
$Warm_Vanilla: #FEF4D3;
$light_Gray: #958E8E;
$Light_yellow : #FFEDB0;
$Light_Blue : #8ACDCC;

$dark_001 : #1E1E1E;
$dark_002 : #000;
