@import '../../colors';



.recommandedContainer {
  margin-bottom: 5px;

  .container {
    background-color: white;
    position: relative;
    padding: 0;
    top: 0;
    justify-content: center;
    // padding-bottom: 5px;
    margin-bottom: 10px;

    .recaommandedTitle {
      text-align: center;
      color: $primary_color;
      font-family: Poppins;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }


    .discountTitleContainer {
      text-align: left;

      h2 {
        color: $primary_color;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      p {
        color: $dark_Gray;
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

    }

    .unique {
      width: 100%;
      height: 223px;
      border-radius: 60px;
      background: $Light_yellow;
      position: absolute;
      top: 28%;
    }

    .bouble {
      width: 100%;

      height: 317px;
      top: 160px;
      border-radius: 60px;
      background: $Light_Blue;
      position: absolute;

    }

    .carouselProvider {
      margin: 0 5%;


      .recommandedListButtonsContainer {

        width: 110%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 35%;
        left: -4%;

        .rightBtn {
          text-align: end;
          display: flex;
          justify-content: end;
        }

        .btn {
          all: unset;
          display: flex;
          background-color: white;
          text-align: center;
          border-radius: 50%;
          justify-content: center;

          &:hover {

            background-color: $orange_color;
          }

          .sliderButtonIcon {
            font-size: 25px;
            color: $orange_color;
            font-weight: 400;

            &:hover {
              color: white;
            }
          }
        }
      }

      .uniqueButtons {
        width: 110%;
        height: 50px;
        top: 41%;
        left: -4%;
      }
    }

  }
}


@media only screen and (max-width: 1200px) {

  .recommandedContainer {
    .container {
      .unique {
        height: 120px;
        top: 88px;
      }

      .bouble {
        height: 20vw;
        top: 10vw;
      }

      .carouselProvider {
        .recommandedListButtonsContainer {
          top: 25%;
          left: -5%;
        }

        .uniqueButtons {
          top: 33%;
          left: -4%;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {

  .recommandedContainer {
    .container {
      .unique {
        height: 112px;
        top: 101px;
      }

      .bouble {
        height: 228px;
        top: 138px;
      }

      .carouselProvider {
        .recommandedListButtonsContainer {
          width: 112%;
          height: 23px;
          top: 43%;
          left: -5%;
        }
      }
    }
  }
}


@media only screen and (max-width: 767px) {

  .recommandedContainer {
    .container {
      .unique {
        top: 104px;
      }

      .bouble {
        height: 166px;
        top: 116px;
      }

      .carouselProvider {
        .recommandedListButtonsContainer {
          width: 113%;
          height: 23px;
          top: 44%;
          left: -5%;

          .btn {
            .sliderButtonIcon {
              font-size: 14px;
            }
          }

        }

        .uniqueButtons {
           width: 111%; 
          top: 56%;
          left: -4%;
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {

  .recommandedContainer {
    font-size: 1rem;

    .container {

      .recaommandedTitle {

        font-size: 2rem;
      }

      .unique {
        height: 90px;
        top: 85px;
      }

      .bouble {
        height: 159px;
        top: 73px;
      }


      .carouselProvider {
        .recommandedListButtonsContainer {
          width: 113%;
          height: 23px;
          top: 33%;
          left: -5%;

          .btn {

            .sliderButtonIcon {
              font-size: 14px;
            }
          }
        }
        .uniqueButtons {
          width: 111%;
          top: 44%;
          left: -4%;
       }
      }

    }
  }
}


@media only screen and (max-width: 375px) {

  .recommandedContainer {
    .container {
      .unique {
        height: 90px;
        top: 79px;
      }

      .bouble {
        height: 135px;
        top: 45px;
      }

      .discountTitleContainer {
        text-align: left;
        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.5rem;
        }
      }
      .carouselProvider {
        .recommandedListButtonsContainer {
          top: 39%;
          left: -5%;
          height: 23px;
          width: 116%;
          .btn {

            .sliderButtonIcon {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}