.btn {
  outline: 0;
  background: var(--white);
  border: 1px solid var(--primaryColor);
  color: var(--secondaryColor);
  font-family: var(--fontPrimary);
  border-radius: 7px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 21px;
  }
  .btnContent {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
