.carousel-ads {
  max-width: 80%;
  margin: 10px 0 10px 0;

  .carousol-ads-slider {
    margin-left: 20%;

    img {
      border-radius: 20px;
      margin: 0 3px;
      // object-fit: contain;
      width: 95%;
      height: 100%;
    }
  }


}