.carousel-ads {
  margin-left: 0;
  max-width: 80%;
  margin-bottom: 10px;

  .carousol-ads-slider {
    margin-left: 20%;

    img {
      border-radius: 20px;
      margin: 0 3px;
      // object-fit: contain;
      width: 95%;
      height: 100%;
    }
  }


}