@import '../../colors';

.container {
  top: 0;
}

.carousal-provider {
  padding-top: 16px;
  padding-bottom: 213px;
  height: 150px;
  background-size: 104% 100%; //104%
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1200' height='281' viewBox='0 0 1241 281' fill='%2324A6A4' fill-opacity='0.74'%3E%3Cpath d='M0 148.737C0 117.418 24.089 91.3674 55.3123 88.9205L1176.31 1.06948C1211.19 -1.66385 1241 25.9012 1241 60.8861V221C1241 254.137 1214.14 281 1181 281H60C26.8629 281 0 254.137 0 221V148.737Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;

  .categorie-carousel {
    margin-left: 15%;
    max-width: 80%;

    .carousel-slide {
      widows: 100px;
      height: 100px;

      .category-box {
        background-color: $white_001;
        cursor: pointer;
        text-align: center;
        padding: 15px;
        border-radius: 15px;
        margin: 5px;
        box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.09);
        transition: background-color 0.5s;
        transition: box-shadow 0.5s;

        &.selected {
          border: 2px solid $primary_color;
          background-color: white;
          box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.17);
        }

        img {
          width: 50px;
          height: 50px;
        }

        .category-name {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: black;
        }
      }
    }

    .categories-list-buttons-container {
      width: 108%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 45%;
      left: -4%;
      


      .btn {
        all: unset;
        display: flex;
        text-align: center;
        border-radius: 50%;
        justify-content: center;
        
        &:hover {
          background-color: $light_beige;
        }
      }

      .slider-button-icon {
        color: white;
        font-weight: 400;
        font-size: 2.2rem;
        &:hover {
          color: $light_Gray;
        }
      }
    }
  }
}



@media only screen and (min-width: 575px) and (max-width:767px) {

  .carousal-provider {
    padding-top: 0;
    padding-bottom: 208px;
    background-size: 98% 62%;

    .categorie-carousel {
      margin-left: 11%;

      .carousel-slide {
        width: calc(100% / 4);
        height: 110px;
        .category-box{
          .category-name {
            font-size: 10px;
          }
        }
      }

      .categories-list-buttons-container {
        width: 113%;
        top: 44%;
        left: -7%;
      }
    }
  }
}

@media only screen and (max-width: 575px) {

  .carousal-provider {
    padding-top: 0;
    padding-bottom: 208px;
    background-size: 98% 62%;

    .categorie-carousel {
      margin-left: 11%;

      .carousel-slide {
        width: calc(100% / 4);
        height: 90px;
        .category-box{
          img {
            width: 25px;
            height: 25px;
          }
          .category-name {
            font-size: 0.7rem;
          }
        }
      }

      .categories-list-buttons-container {
        width: 113%;
        top: 44%;
        left: -7%;
      }
    }
  }
}


@media only screen and (min-width: 768px) and (max-width:991px) {
  .carousal-provider {
    padding-top: 0;
    padding-bottom: 208px;
    background-size: 99% 77%;

    .categorie-carousel {
      margin-left: 11%;

      .carousel-slide {
        width: calc(100% / 5);
        height: 100px;
      }

      .categories-list-buttons-container {
        width: 115%;
        top: 44%;
        left: -7%;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
  .carousal-provider {
    padding-top: 0;
    padding-bottom: 208px;
    background-size:102% 83%;

    .categorie-carousel {
      margin-left: 11%;
      // max-width: 39%;

      .carousel-slide {
        width: calc(100% / 4);
        height: 150px;
      }

      .categories-list-buttons-container {
        width: 106%;
        top: 45%;
        left: -3%;
      }
    }
  }
}